<div class="ingredients_wrapper">
    <div class="img_wrap_text_info">
        <div class="img_wrap">
            <img src="{{ item.image | image_url }}" alt="">
        </div>
        <div class="key_ingre_title">
            <h4>{{ item.heading }}</h4>
            <p>{{item.origin.value}}</p>
        </div>
    </div>
    <div class="key_ingre_description">
        <p>{{item.description | truncatewords: 36, '...Read more'}}</p>
    </div>            
</div>