<div class="info-compare__description-wrap">
    <div class="info-compare__bullet-img">
            {% render 'shopify-responsive-image', image: image, aspect_ratio: 1 %} 
    </div>
    <div class="info-compare__text">
        {{content}}
    </div>
</div>