<div class="landing-bundle-sec-info">
    <div class="landing-bundle-sec-info__wrapper">
        <div class="landing-bundle-sec-info__content">
            <div class="landing-bundle-sec-info__percentage-off">
                <span class="">15% off</span>
            </div>
            <h3 class="landing-bundle-sec-info__heading">MOST POPULAR</h3>
            <button class="landing-bundle-sec-info__button button--primary">3 month supply</button>
            <span class="landing-bundle-sec-info__gift-price">$0.70 per day + a Free gift Limited time offer</span>
            <img src="" alt="" />
            <div class="landing-bundle-sec-info__description">Be consistent and have clean greens for a full 90 days to start feeling your best</div>
            <div class="landing-bundle-sec-info__price">
                <span class="landing-bundle-sec-info__compare-price">$33.86</span>
                <span class="landing-bundle-sec-info__origin-price">$28.78 USD</span>
            </div>
            <button class="button button--primary">checkout</button>
        </div>
    </div>
</div>