
{% if product.metafields.custom.additional_tags.value != blank %}
{% assign additional_tags = product.metafields.custom.additional_tags.value %}
    <div class="product-info--additional-tags">
        <div class="product-info--additional-tags--wrapper">
        {% for tags in additional_tags %}
            <p class="product-info--additional-tags--tag{% if block.settings.enable_rounded_tags %} enable_rounded_tags {% endif %}" style="color: {{ block.settings.tag_text_color }}; background-color: {{ block.settings.tag_bg_color }}">
                {{- tags -}}
            </p>
        {% endfor %}
        </div>
    </div>
{% endif %}