{{ 'section-header.css' |  asset_url | stylesheet_tag }}

<div class="section-header">
    <div class="section-header__wrapper">
        <div class="section-header__content {% if heading_alignment == 'center' %}section-header__content--center-alignment{% endif %}">
            {% if heading %}
                <h2 class="section-header__title">{{heading}}</h2>
            {% endif %}
            {% if text %}
                <p class="section-header__text">
                    {{ text }}
                </p>
            {% endif %}
        </div>
    </div>
</div>