{%- liquid
    assign image = block.settings.image
    assign heading = block.settings.heading
    assign description = block.settings.description
-%}

<div class="text-image {% if wrapper_class %} text-image--{{wrapper_class}} {% endif %}">
    <div class="text-image__wrapper">
        <div class="text-image__content">
            <div class="text-image__heading">
                {%- if image -%}
                    {% render 'shopify-responsive-image', image: image, aspect_ratio: 1 %}
                {%- endif -%}
                {%- if heading -%}
                    <h3 class="text-image__heading-text">{{ heading }}</h3>
                {%- endif -%}
            </div>
            {%- if description -%}
                <div class="text-image__description">
                    <p>{{description}}</p>
                </div>
            {%- endif -%}
        </div>  
    </div>
</div>