
{%- liquid
    assign colorsMetafield = product.metafields.custom.color_schema.value 
-%}

    <div class="custom_app_tolstoy">
        <div class='custom-block' id="wrapper-tolstoy">
            <div class="app-heading">{{section.settings.section_heading}} </div>
        {%- render block -%}
        </div>
    </div>

<style>
    {% if colorsMetafield %}
        .product-page-color{
            background: var(--meta-background-color);
        }
    {% endif %}
    #AppInfoWrapper{
        {% comment %} margin-bottom:44px; {% endcomment %}
        padding-bottom:40px;
    }
    .other-page-background{
        background: {{section.settings.section_bg_color}};
    }
    .app-heading{
        color: {{ section.settings.heading_color}}
    }
    .qMWqRG_dot {
        background: #FFF;
    }    
</style>