@use 'StyleComponents/colors';
@use 'StyleComponents/typography';
@import 'breakpoints';
@import 'Token';

.page_title_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 28px 0;
    @media screen and (max-width: 767px){
        // padding: 24px 57px 21px 55px;
    }
    @media(max-width:320px){
        padding: 24px 23px 21px 23px;
    }
    .blog_main_heading_wrap{
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;
    }
    .page_title {
        font-family: var(--secondary-font-family) !important;        
        @include use-text-style('heading-mob');
        letter-spacing: 0em;
        text-align: center;
        text-transform: capitalize;
        @media(max-width: 390px){
            @include use-text-style('heading-2');
        }
        @media screen and (--sm){
            @include use-text-style('heading-1');
        }
    }
    .page_subtitle {
        font-family: "BrownStd-Regular" !important;
        @include use-text-style('heading-2');
        letter-spacing: 0em;
        text-align: center;
        text-transform: capitalize;
        @media screen and (--sm){
            @include use-text-style('heading-1-alt');
        }
    }
}
.featured-articles__container{
    .featured-articles__btns-wrap {
        @media(min-width: 1025px){
            top: 4rem;
        }
        @media screen and (min-width: 768px) and (max-width: 1024px) {
            top: 6rem;
        }
        @media screen and (max-width: 767px){
            top: 26.3rem;
        }
    }
    .featured-articles__carousel-container {
        @media(--sm){
            height: 60rem;
        }
    }
}
.featured-article {
    height: 100%;
    @media(--sm){
        height: auto;
    }
    .featured-article__link {
        @media(--sm){
            height: 100%;
        }
    }
    &__title {
        @include use-text-style('heading-3');
        font-family: var(--secondary-font-family) !important;        
        text-align: left;
        text-transform: capitalize;
        @media(--sm){
            @include use-text-style('heading-1-alt');
        }
        @media(--md-large){
            @include use-text-style('heading-1');
        }            
    }
    &__text {
        @include use-text-style('body-alt');
        font-family: var(--primary-font-family) !important;
        letter-spacing: 0.015em;
        line-height: 1.5;
        text-align: left;
    }
    &__order-number{
        display: none;
    }
    &__content {
        align-items: center;        
        svg.link__chevron{
            color: colors.$white;
        }        
        .link__text {            
            @include use-text-style('body-alt');
            letter-spacing: 0em;
            text-align: left;
            font-weight: 700;
            &::before {
                background-color: colors.$white;
            }
            @media(max-width:540px){
                font-size: 16px;
                line-height: 31.2px;
                // text-decoration: underline;
            }
        }
        .link__chevron {
            color: colors.$black;   
        }
    }
}

.articles{
    &__container{
        padding: 32px 48px 64px 48px;
        @media screen and (max-width: 767px){
            padding-left: 0;
            padding-right: 0;
            padding-top: 33px;
        }
        @media(min-width: 768px) and (max-width:1024px){
            padding-right: var(--gsc-container-padding);
            padding-left: var(--gsc-container-padding);
        }
        .articles__card-grid-wrap .card-grid {
            @media(--sm){
                grid-row-gap: 79px;
            }
            @media(max-width:767px){
                grid-gap: 56px;
            }
            .shape--nature {
                @media screen and (max-width: 767px){
                    padding-bottom: 100%;
                }
            }
        }
        .articles__load-button-pagination {
            margin: 3.2rem 0 0;
            @media(max-width:767px){
                margin: 6.0rem 0 0;
            }            
            .load-button-pagination__count {
                @include use-text-style('body-title');
                letter-spacing: 0em;
                text-align: center;
                color: colors.$dark-blue;
            }
            .load-button-pagination__progress {
                background: linear-gradient(90deg,#2f4775,var(--gsc-pagination-progress),var(--gsc-text-color-10)var(--gsc-pagination-progress));
            }
            .load-button-pagination__btn {
                border-color: colors.$dark-blue;
                color: colors.$dark-blue;
                font-family: var(--secondary-font-family) !important;
                @include use-text-style('body-alt');
                text-align: center;
                width: 263px;
                height: 50px;
                &:active{
                    background: colors.$dark-blue;
                }
                &:hover{
                    box-shadow: none;
                }
            }
        }
    }
    &__header{
        margin-bottom: 32px;
        border: 1px solid colors.$light-blue;
        padding: 26px 42px;
        border-radius: 40px;
        width: 100%;
        @media screen and (min-width: 1025px) {
            width: 50%;
        }
        @media screen and (min-width: 768px) and (max-width: 1024px){
            width: 70%;
        }
        @media(--sm){
            margin: 0;
            padding: 0 42px;
            border: 1px solid colors.$light-blue;
            border-radius: 40px;
            width: 50%;
            flex: 1 0 70%;
        }
        @media(--md-large){
            width: 50%; 
            flex: 1 0 70%;
        }
        @media screen and (max-width: 767px){
            margin: 0;
            padding: 0px 15px;
            border-radius: 0;
            border: 0;
        }
    }
    &__tags{
        margin-top: 0;
        column-gap: 3rem;
        row-gap: 0;
        justify-content: flex-start !important;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        /* -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory; */
        white-space: nowrap;
        width: 100%;
        flex-wrap: nowrap;
        padding-bottom: 12px;
        padding-top: 20px;
        &::-webkit-scrollbar-track{
            -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.1);
            border-radius: 6px;
            background-color: colors.$white;
        }
        &::-webkit-scrollbar{
            height: 6px;
            background-color: colors.$white;
        }
        &::-webkit-scrollbar-thumb{
            border-radius: 6px;
            -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.1);
            background-color: colors.$light-grey;
        }
        @media screen and (max-width: 767px){
            gap: 24px 28px;
        }
        .articles__tag {            
            @include use-text-style('body-alt');
            font-weight: 700;
            font-family: 'proximanova-semibold';
            letter-spacing: 0em;
            text-align: center;
            color: colors.$light-blue;
            text-transform: capitalize;
            flex: 0 0 auto;
            white-space: normal;
            scroll-snap-align: start;
            line-height: normal;
            @media screen and (max-width: 767px){
                line-height: initial;
                color: colors.$light-blue;
            }
            &.selected {
                font-family: 'proximanova-semibold';
                color: colors.$dark-blue;
                text-decoration: underline;
            }
        }
    }
    .articles__card-grid-wrap{
        @media screen and (max-width: 767px){
            padding-left: 15px;
            padding-right: 15px;
        }
        .article-card {
            @media screen and (max-width: 767px){
                width: 100%;
            }
        }
        .article-card__details{
            .article-card__title {
                font-family: var(--secondary-font-family) !important;
                @include use-text-style('heading-2');
                text-align: left;
                color: colors.$dark-blue;
                @media(--sm) and (max-width:1024px){
                    font-size: 16px;
                    line-height: 22px;
                }
            }
            .article-card__read-more-link {
                @include use-text-style('body-alt');
                font-family: 'proximanova-semibold';
                letter-spacing: 0em;
                text-align: left;
                color: colors.$dark-blue;
                margin-top: 32px;
                text-transform: lowercase;
                @media(--sm){
                    margin-top: 32px;
                }
                .link__text:before {
                    background: colors.$dark-blue;
                }
            }
        }
        .article-card__details--bottom-spacing{
            padding-bottom: 0;
        }
    }
    .blog_search_article_tags{
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
        align-items: center;
        flex-direction: column;
        @media(--sm){
            flex-direction: row;
            column-gap: 20px;
            margin-bottom: 37px;
        }
        @media(--md-large){
            flex-direction: row;
            column-gap: 40px;
            margin-bottom: 37px;
        }
        @media(max-width:767px){
            border-top: 1px solid #B9B9B9;
            border-bottom: 1px solid #B9B9B9;
            padding-top: 23px;
            padding-bottom: 18px;
        }
    }
    .template-search__search{
        width: 100%;
        padding: 0 15px;
        margin-bottom: 30px;
        @media(--sm){
            padding: 0;
            margin-bottom: 0;
            flex: 1 0 25%;
        }
        @media(--md-large){
            padding: 0;
            margin-bottom: 0;
            flex: 1 0 25%;
        }
        @media(max-width:767px){
            margin-bottom: 12px !important;
        }
        blog-predictive-search{
            .search{
                position: relative;
                z-index: 3;
                .field {
                    width: 100%;

                    .search__input.field__input{
                        padding-left: 2rem;
                        padding-right: 0;
                        border-radius: 40px;
                        background: colors.$white;
                        border: 1px solid colors.$light-blue;
                        width: 100%;
                        height: 6rem;
                        color: colors.$dark-blue;
                        @include use-text-style('body-title');      
                        &::placeholder{
                            color: colors.$dark-blue;
                        }
                        &:focus-visible{
                            outline: none;
                        }
                        @media(--sm){
                            font-size: 14px;
                        }
                        @media(--md-large){
                            @include use-text-style('body-title');
                        }
                    }
                    .predictive-search {
                        display: none;
                        position: absolute;
                        top: calc(100% + 0.1rem);
                        left: -0.1rem;
                        width: calc(100% + 0.2rem);
                        z-index: 2;
                        background-color: colors.$white;                        
                        .predictive-search__results-list {
                            padding: 0;
                            margin: 0;
                            list-style: none;
                            .predictive-search__list-item{
                                .predictive-search__item--term {
                                    justify-content: space-between;
                                    align-items: center;
                                    padding: 1.3rem 2rem;
                                    word-break: break-all;
                                    line-height: 1.4;
                                    border: 0;
                                    color: colors.$dark-blue;
                                    font-family: var(--secondary-font-family) !important;
                                    svg {
                                        width: 20px;
                                        height: 20px;
                                    }
                                }
                            }
                            .predictive-search__item--link {
                                display: grid;
                                grid-template-columns: 5rem 1fr;
                                grid-column-gap: 2rem;
                                grid-template-areas: "product-image product-content";
                            }
                            .predictive-search__item {
                                display: flex;
                                padding: 1rem 2rem;
                                text-align: left;
                                text-decoration: none;
                                width: 100%;
                            }
                            .predictive-search__item-content {
                                display: flex;
                                grid-area: product-content;
                                flex-direction: column;
                                .predictive-search__item-heading {
                                    @include use-text-style('body-title');
                                    line-height: 1.4 !important;
                                    color: colors.$dark-blue;
                                }
                            }
                        }
                        .predictive-search__loading-state .spinner {
                            animation: rotator 1.4s linear infinite;
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                        .predictive-search__loading-state .path{
                            stroke-dasharray: 280;
                            stroke-dashoffset: 0;
                            transform-origin: center;
                            stroke: rgb(var(--gsc-black-color),.5);
                            animation: dash 1.4s ease-in-out infinite;
                            vector-effect: none;
                        }                    
                    }
                    .field__button {
                        align-items: center;
                        background-color: transparent;
                        border: 0;
                        color: currentColor;
                        cursor: pointer;
                        display: flex;
                        height: 6rem;
                        justify-content: center;
                        overflow: hidden;
                        padding: 0;
                        position: absolute;
                        right: 10px;
                        top: 0;
                        width: 4.4rem;
                        svg path{
                            stroke: colors.$dark-blue;
                        }
                    }
                }
            }
        }
    }
}

.section-template--16185140215966__blog .article-card {
    @media screen and (max-width: 767px){
        --gsc-img-ratio: 100%;
    }
}
.article-card__details>*+.article-card__read-more-link {
    @media screen and (min-width: 768px) and (max-width: 1024px){
        margin: 1rem 0 0;
    }
}

.featured-article__order-number+.featured-article__content {
    @media(--sm){
        padding: 0 0 1.6rem;
    }
}
.featured-article__content>*+*:last-child {
    @media(--sm){
        margin: 3.2rem 0 0;
    }
}
.featured-article__content, .featured-article__order-number+.featured-article__content {
    @media(max-width:767px){
        padding: 0;
    }
}

.featured-article__details-wrap {
    @media(max-width:767px){
        padding: 3.2rem 3.2rem 7.2rem;
    }
}


@keyframes rotator {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(270deg);
    }
}
@keyframes dash {
    0% {
        stroke-dashoffset: 280;
    }
    50% {
        stroke-dashoffset: 75;
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 280;
        transform: rotate(450deg);
    }
}

blog-predictive-search:not([loading]) .predictive-search__heading .spinner,
blog-predictive-search:not([loading]) .predictive-search__loading-state,
blog-predictive-search:not([loading]) .predictive-search-status__loading {
    display: none;
}
blog-predictive-search[open] .predictive-search {
    display: block !important;
}
blog-predictive-search[open=true]:before {
    position: fixed;
    content: "";
    background-color: rgb(var(--gsc-black-color),.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
}
