@use 'StyleComponents/mixins';
@use 'StyleComponents/colors';
@use 'StyleComponents/typography';
@import 'Token';
@import 'StyleComponents/breakpoints';

@custom-selector :--image .landing-page-main-product__icon .responsive-image__wrapper;
@custom-selector :--thumbnail-image .landing-page-main-product__thumbnail-carousel .responsive-image__wrapper;
@custom-selector :--product-thumbnail .landing-page-main-product__thumbnail-carousel .swiper-wrapper;

.landing-page-main-product {
	//section scoped variables
	 --column-spacing: 50px; 
	 --content-spacing: 24px;
	 --inner-content-spacing: 16px;

	@media(--md) {
		--content-spacing: 32px;
		--inner-content-spacing: 24px;
	}

    &__wrapper{
        padding-top: var(--section-padding);
		@media(--md) {
			@include mixins.container;
		}
    }
    
	&__container {
		@include mixins.grid(1, 100px, 100px);
		justify-content: space-between;
		@media(--md) {
			@include mixins.grid(6, 100px, 100px);
			align-items: flex-start;
		}
	}

	&__carousel {
		display: flex;
		grid-column: span 3;
		flex-direction: column-reverse;
		justify-content: center;

		@media(--md) {
			padding: 0 var(--column-spacing) 0 0;
		}
	}

	&__main-carousel {
		@media(--md) {
		    margin-bottom: 20px;        
		}
	}
    

	&__thumbnail-carousel {
		display: none;
		@media(--md) {
			display: block;
		}
	}

	&__content {
		margin-top: 8px;
		grid-column: span 3;
		@media(--md) {
			margin-top: 0;
			background: colors.$off-white;
			padding: 54px var(--column-spacing);
		}
	}

	&__reviews {
	 line-height: 1; 
	}

	&__title {
		@include use-text-style('heading-mob');
		font-family: 'BrownStd-Bold';

		@media(--md) {
			@include use-text-style('heading-1');
			font-family: 'BrownStd-Bold';
		}
	}

	&__description_title {
		@include use-text-style('heading-3');
		font-family: 'BrownStd-Bold';

		@media(--md) {
			@include use-text-style('heading-mob');
			font-family: 'BrownStd-Bold';
		}
	}

	&__description {
		@include use-text-style('body-title');

		@media(--md) {
			@include use-text-style('body-alt');
		}
	}

	&__icon-text-wrapper {
		@include mixins.container;
		display: flex;
		flex-direction: column;
		gap: var(--inner-content-spacing);

		@media(--md) {
			flex-direction: row;
			justify-content: space-between;
			max-width: 100%;
		}
	}

	&__tags {
		display: flex;
		gap: 8px;
	}

	&__tags-list {
		padding: 10px 12px;
		background: colors.$dark-blue;
		color: colors.$white;
		border-radius: 50px;
		@include use-text-style('body-mobile');
	}

	&__banner-teaser {
		background: colors.$dark-blue;
	}

	&__text {
		font-size: typography.$body-title-size;
		font-weight: typography.$regular-weight;
		font-family: 'proximanova-regular';
	}

	&__icon-text-wrapper-item {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: var(--grid-column-gap);
		text-align: center;

		@media(--md) {
			flex-direction: column;
			gap: 10px;
			max-width: 110px;
		}
	}

	&__icon {

		.responsive-image__wrapper  {
			width: 42px;
			height: 42px; 


			@media(--md) {
				width: 60px;
				height: 60px;
			}
		}
	}

	.swiper-thumbs {
		.swiper-slide {
			.responsive-image__wrapper {
				border: 2px solid transparent;
			}

			&-thumb-active {
				.responsive-image__wrapper {
					border-color: colors.$dark-blue;
				}
			}
		}
	}


	&__info-bottom-content {
		display: flex;
		gap: var(--inner-content-spacing);
		flex-direction: column;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: var(--content-spacing);
		&-top-content {
			@include mixins.container;
			display: flex;
			flex-direction: column;
			gap: var(--inner-content-spacing);

			@media(--md) {
				max-width: 100%;
			}
		}
	}

	&__description-box {
	  @include mixins.container;
       display: flex;
	   flex-direction: column;
	   gap: var(--inner-content-spacing);
	   @media(--md) {
		max-width: 100%;
	  }
	}
}

#readMore_btn,
#readLess_btn {
	cursor: pointer;
	text-decoration: underline;
}

.text-with-button--product-section .text-with-button__container {
	padding: 16px 0;
	@include mixins.container;
	background: transparent;
	@media(--md) {
		max-width: 100%;
		padding: 16px 32px;
	}
}

.text-with-button--product-section .text-with-button__text-content {
	max-width: 50%;

	@media(--md) {
		max-width: 60%;
	}
}

.container, .container--page-width {
	 @include mixins.container;
}

body {
	max-width: 1600px;
	margin: 0 auto;
}
