@use 'StyleComponents/mixins';
@use 'StyleComponents/colors';
@use 'StyleComponents/typography';
@import 'Token';
@import 'StyleComponents/breakpoints';

@custom-selector :--image .landing-page-main-product__icon .responsive-image__wrapper;
@custom-selector :--thumbnail-image .landing-page-main-product__thumbnail-carousel .responsive-image__wrapper;
@custom-selector :--product-thumbnail .landing-page-main-product__thumbnail-carousel .swiper-wrapper;

.landing-page-main-product{
    &__wrapper{
        @include mixins.container;
        @include mixins.section-spacing;
    }

    &__container{
        @include mixins.grid(1,100px,100px);
        padding: 0 64px;
        @media(--md){
            @include mixins.grid(2,100px,100px);
            column-gap: 70px; 
        }
    }

    &__carousel{
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    &__content{
        padding: 0;
        @media(--sm){
            background: colors.$off-white;
            padding: calc(var(--setion-top-padding) *2);
        }
    }

    &__title{
        @include use-text-style('heading-mob');
        font-family: 'BrownStd-Bold';
        @media(--sm){
            @include use-text-style('heading-1');
            font-family: 'BrownStd-Bold';
        }
    }

    &__description_title{
        @include use-text-style('heading-3');
        font-family: 'BrownStd-Bold';
        padding-top: var(--setion-top-padding);
        @media(--sm){
            @include use-text-style('heading-mob');
            font-family: 'BrownStd-Bold';
            padding-top: calc(var(--nav-vertical-padding) * 2)
        }
    }

    &__description{
        @include use-text-style('body-title');
        padding-top: var(--header-padding);
        @media(--sm){
            padding-top: var(--nav-vertical-padding);
            @include use-text-style('body-alt');
        }
    }

    &__icon-text-wrapper{
        padding-top: calc(var(--grid-row-gap-large)*2);
        @include mixins.grid(1,20px,20px);
        @media(--sm){
            @include mixins.grid(4,100px,100px);
            column-gap: 40px;
            padding-top: calc(var(--nav-vertical-padding)*2);  
        }
    }

    &__tags{
        display: flex;
        gap: calc(var(--grid-row-gap)/2);
        padding-top: var(--nav-vertical-padding);
        @media(--sm){
            padding-top: var(--setion-top-padding);
        }
    }

    &__tags-list{
        padding: 10px 12px;
        background: colors.$dark-blue;
        color: colors.$white;
        border-radius: 50px;
    }

    &__banner-teaser{
        padding-top: calc(var(--nav-vertical-padding)*3);
        @media(--sm){
            padding-top: var(--setion-top-padding);
        }
    }

    &__text{
        font-size: typography.$body-title-size;
        font-weight: typography.$regular-weight;
        font-family: 'proximanova-regular';
    }

    &__icon-text-wrapper-item{
        display: flex;
        column-gap: calc(var(--grid-row-gap)*2);
        align-items: center;
        justify-content: flex-start;
        @media(--sm){
            flex-direction: column;
        }
    }

    &__main-carousel{
        height: 551px;
    }

    &__thumbnail-carousel {
        .swiper-slide {
            width: 100px;
        }
    }

    .swiper-thumbs {
        .swiper-slide {
            border: 1px solid transparent;
            &-thumb-active {
               border-color: black;
            }
        }
    }
 
    :--image{
        width: 60px;
    }

    :--product-thumbnail{
        height: 80px;
    }
}
#readMore_btn,
#readLess_btn{
    cursor: pointer;
    text-decoration: underline;
}

.text-with-button--product-section .text-with-button__container{
    padding: 10px 30px;
}

