@use 'StyleComponents/mixins';
@use 'StyleComponents/colors';
@use 'StyleComponents/typography';
@import 'Token';
@import 'StyleComponents/breakpoints';


@custom-selector :--button .landing-bundle-sec-info__content .button;
@custom-selector :--image .landing-bundle-sec-info__wrapper .responsive-image__wrapper;
@custom-selector :--title .landing-page-bundle-section__heading .section-header__title;
@custom-selector :--sub_title .landing-page-bundle-section__heading .section-header__content p;  
@custom-selector :--section-header_content_width .section-header--bundle-section-center .section-header__content;  

.landing-page-bundle-section{
    --price-grid-gap: 24px;
    --section-paddings: 40px;
    --bundle-section-margin: 50px;
    --section-left-right-padding: 0;
    @media(--md){
        --section-paddings: 60px;
    }
    @media(--xlg){
        --section-left-right-padding: 48px;
    }
    &__information{
        @include mixins.container;  
    }
    &__wrapper{
        margin-top: var(--bundle-section-margin);
        padding: var(--section-paddings) 0;
        background: colors.$dark-blue;
        @media(--md){
            margin-top: calc(var(--section-margin)*2);
        }
    }
    &__information{
        @include mixins.grid(1,100px,100px);
        row-gap: calc(var(--grid-row-gap-large)*2);
        @media(--md-large){
            @include mixins.grid(3,100px,100px);
            align-items: center; 
            
        }
    }

    &__content {
        background: colors.$dark-blue;
        // padding: var(--section-paddings) var(--section-left-right-padding);
    }
    
    @custom-selector :--heading_width .info-compare__compare-section .section-header__content;
    
    
    .info-compare{
    
        --sub-heading-spacing: 10px;
        --inner-block-list-padding: 24px 16px;
        --inner-content-spacing: 12px;
        --inner-block-grid-gap: 24px;
        @media(--md) {
            --sub-heading-spacing: 16px;
            --inner-block-list-padding: 24px 32px;
            --inner-content-spacing: 16px;
            --inner-block-grid-gap: 24px;
        }
    
        &__compare-section{
            @include mixins.container;
            padding-top: var(--section-padding);
            margin-top: var(--section-margin); 
        }
    
        &__wrapper{
            @include mixins.grid(1, 40px, 40px);
            row-gap: calc(var(--grid-row-gap-large) * 1);
            @media(--sm){
                @include mixins.grid(2, 40px, 40px);
                column-gap: calc(var(--grid-row-gap-large) * 2);
            }
        }
    
        &__container{
            display: flex;
            flex-direction: column;
            justify-content: stretch;
        }
    
        &__heading{
            padding-bottom: var(--sub-heading-spacing);
            @include use-text-style('heading-3');
            font-family: var(--primary-semibold-font-family);
            @media(--sm){            
                @include use-text-style('heading-2');
                font-family: var(--primary-semibold-font-family);
            }
        }
    
        &__description{
            display: flex;
            height: 100%;
            flex-direction: column;
            background: colors.$off-white;
            padding: var(--inner-block-list-padding);
            column-gap: var(--inner-block-grid-gap);        
        }
    
        &__description-wrap{
            display: flex;
            // margin-bottom: var(--grid-row-gap);
            column-gap: var(--setion-top-padding);
            // margin-top: var(--setion-top-padding);
            @media(--sm){
                align-items: center;
            }
        }
    
        &__bullet-img{
            min-width: 30px;
        }
    
        &__text{
            @include use-text-style('body-title');
            font-family: 'proximanova-regular';
            text-align: left;
            @media(--sm){
                @include use-text-style('body-alt');
                font-family: 'proximanova-regular';
                text-align: left;
            }
        }
    }
    :--heading_width{
        max-width: 750px;
    }
    .section-header--compare-section {
        text-align: center;
    }
    
}

.landing-bundle-sec-info{
    --percentage-button-padding: 10px 20px;
    --card-padding: 32px 40px;
    &__wrapper{
        position: relative;    
    }
    &__content{
        text-align: center;
        padding: var(--card-padding);
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: stretch;
        height: 100%;
        justify-content: space-between;
        flex-direction: column;
        gap: var(--section-spacing); 
 
    }
    &__heading{
        @include use-text-style('heading-2');
        color: colors.$dark-blue;
        margin-bottom: var(--setion-top-padding);
        padding-top: 14px;
        font-family: var(--primary-semibold-font-family);
  
        margin-bottom: 17px;
        @media(--sm){
            padding-top: 12px;
            margin-bottom: 12px;    
        }
    }
    &__button.button--primary{
        border-radius: 4rem;
        background: colors.$grey;
        color: colors.$white;
        border: 0;
        margin-bottom: 16px;
        @include use-text-style('heading-3');
        font-family: var(--primary-semibold-font-family);
        padding: 12px 36px;
    }
    &__gift-price{
        display: block;
        color: colors.$dark-blue;
        @include use-text-style('body-title');
        font-weight: 600;   
        @media(--sm){
        min-height: 38px;
        }     
    }

    &__bullet-points{
        display: grid;
        gap: 12px;
        align-items: flex-start;
        .info-compare__description-wrap{
            gap: 16px;
            margin-top: var(--nav-vertical-padding);
            align-items: flex-start;
            @media(--sm){
                gap: 24px;
            }
        }
    }
    &__description_wrapper{
        display: grid; 
        gap: 32px; 
    }
    &__description{
        @include use-text-style('heading-3');
        font-family: var(--secondary-font-family);
        line-height: 1.2;
    }
    &__percentage-off{
        position: absolute;
        top: -25px;
        right: 20px;
        padding: var(--percentage-button-padding); 
        background: colors.$dark-blue;
        border-radius: 25px;
        border: 1px solid colors.$white;

        span{
            @include use-text-style('heading-2');
            line-height: 24px;
            color: colors.$white;
        }
    }    
    &__price{
        @include use-text-style('heading-mob');
        font-weight: typography.$regular-weight;
        font-family: var(--primary-alt-font-family);
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: var(--price-grid-gap);
        padding-bottom: 24px;
        @media(--xxs){
            @include use-text-style('heading-1');
            font-weight: typography.$regular-weight;
            font-family: var(--primary-alt-font-family);
        }
    }
    &__free-shipping{
        margin-top: 24px;
    }
    &__shopping-bag{
        display: flex;
        gap: 10px;
        justify-content: center;
        padding-top: var(--setion-top-padding);
        @include use-text-style('body-alt');
        font-weight: typography.$heading-weight;  
    }
    &__compare-price{
        color: colors.$light-blue;
        text-decoration: line-through;
    }

    :--image{
        height: auto !important;
    }
    :--button{
        margin: 0 auto;
        width: fit-content;
        justify-content: center;
        text-transform: capitalize;
    }
    &__block-1 {
        .landing-bundle-sec-info__button{
            background: colors.$light-blue;
        }
        .landing-bundle-sec-info__percentage-off{
            background: colors.$white;
            span{
                color: colors.$dark-blue;
            }
        }
    } 
    &__block-2 {
        .landing-bundle-sec-info__button{
            background: colors.$light-blue;
        }
        .landing-bundle-sec-info__percentage-off{
            background: colors.$white;
            span{
                color: colors.$dark-blue;   
            }       
        }
        // .landing-bundle-sec-info__top-section .product__image{
        //     @media(--sm){
        //         min-height: 300px !important;
        //     }
        // }
    }
    &__block-3 {
        .landing-bundle-sec-info__button{
            background: colors.$dark-blue;
        }
        // .landing-bundle-sec-info__top-section .product__image {
        //    @media(--sm){
        //     min-height: 506px !important;
        //    }
        // }
    }
    &__block-1 .landing-bundle-sec-info__content , &__block-2 .landing-bundle-sec-info__content{
        background: colors.$light-grey;
    }
    &__block-3 .landing-bundle-sec-info__content{
        background: colors.$white;
    }

    .responsive-image__image {
        object-fit: contain;
    }
}

.section-header--bundle-section-center {
    text-align: center;
    padding-bottom: calc(var( --section-spacing) + 20px);
}

:--title {
    color: colors.$white;
}     
:--sub_title {
    color: colors.$white;
    @include use-text-style('heading-3');
    font-family: var(--secondary-font-family);
    @media(--sm){
        @include use-text-style('heading-2');
        font-family: var(--secondary-font-family);
    }
}

:--section-header_content_width{
    @media(--md-large){
        max-width: 100%;
        margin: 0 auto;
    }
}

