@use 'StyleComponents/mixins';
@use 'StyleComponents/colors';
@use 'StyleComponents/typography';
@import 'Token';
@import 'StyleComponents/breakpoints';


@custom-selector :--button .landing-bundle-sec-info__content .button;
@custom-selector :--image .landing-bundle-sec-info__wrapper .responsive-image__wrapper;
@custom-selector :--title .landing-page-bundle-section__heading .section-header__title;
@custom-selector :--sub_title .landing-page-bundle-section__heading .section-header__content p;  

.landing-page-bundle-section{
    background: colors.$dark-blue;
    &__information{
        @include mixins.container;   
    }
    &__wrapper{
        padding-top: calc(var(--grid-row-gap-large)*3);
        padding-bottom: calc(var(--grid-row-gap-large)*3);
        margin-top: var(--section-margin);
        @media(--md-large){
            padding-top: var(--section-padding);
            padding-bottom: calc(var(--setion-top-padding)*4);
            margin-top: var(--section-margin);
        }
    }
    &__information{
        @include mixins.grid(1,100px,100px);
        row-gap: calc(var(--grid-row-gap-large)*3);
        @media(--sm){
            @include mixins.grid(2,100px,100px);
            row-gap: calc(var(--grid-row-gap-large)*3);
            column-gap: var(--grid-row-gap-large);
        }
        @media(--md-large){
            @include mixins.grid(3,100px,100px);
            
        }
    }
}

.landing-bundle-sec-info{
    &__wrapper{
         height: 100%;
        position: relative;    
    }
    &__content{
        background: colors.$white;
        text-align: center;
        padding: var(--section-padding);
        height: 100%;
    }
    &__heading{
        @include use-text-style('heading-2');
        color: colors.$dark-blue;
        margin-bottom: var(--setion-top-padding);
        padding-top:var(--grid-row-gap-large);
        @media(--sm){
            padding-top: 0;
        }
    }
    &__button.button--primary{
        border-radius: 4rem;
        background: #CBD1DC;
        color: #fff;
        border: 0;
        margin-bottom: 16px;
        @include use-text-style('heading-3');
    }
    &__gift-price{
        display: block;
        color: colors.$black;
        @include use-text-style('body-title');
        font-weight: 600;
    }
    &__description{
        @include use-text-style('heading-3');
        font-family: var(--secondary-font-family);
        line-height: 1.4;
    }
    &__percentage-off{
        position: absolute;
        top: -23px;
        right: 38px;
        padding: var(--percentage-button-padding);
        background: colors.$dark-blue;
        border-radius: calc(var( --setion-top-padding)*2);
        border-top: 1px solid colors.$white;

        span{
            @include use-text-style('heading-2');
            color: colors.$white;
        }
    }    
    &__button-top{
        margin-top: var(--setion-heading-padding); 
    }
    &__price{
        @include use-text-style('heading-mob');
        font-weight: typography.$regular-weight;
        font-family: 'proximanovaexcn-regular';
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: var( --setion-top-padding);
        padding-bottom: var(--setion-top-padding);
        @media(--xxs){
            @include use-text-style('heading-1');
            font-weight: typography.$regular-weight;
            font-family: 'proximanovaexcn-regular';
        }
    }
    &__shopping-bag{
        display: flex;
        gap: 10px;
        justify-content: center;
        padding-top: var(--setion-top-padding);
        @include use-text-style('body-alt');
        font-weight: typography.$heading-weight;  
    }
    &__compare-price{
        color: colors.$light-blue;
    }

    :--image{
        height: auto !important;
    }
    :--button{
        margin: 0 auto;
    }
}

.section-header--bundle-section-center {
    text-align: center;
    padding-bottom: calc(var(--grid-row-gap-large)*2);
}

:--title {
    color: colors.$white;
}     
:--sub_title {
    color: colors.$white;  
}

