@use 'StyleComponents/mixins';
@use 'StyleComponents/colors';
@use 'StyleComponents/typography';
@import 'Token';
@import 'StyleComponents/breakpoints';
@import 'StyleComponents/text-image';

@custom-selector :--text-image .text-image;
@custom-selector :--text-image-heading .text-image--image-with-text .text-image__heading;
@custom-selector :--text-image-heading-text .text-image--image-with-text .text-image__heading-text;
@custom-selector :--text-image-responsive .text-image--image-with-text .text-image__heading .responsive-image__wrapper;

.landing-page-image-with-text{
    &__wrapper{
        padding: var(--section-padding) 0;
        margin: var(--section-margin) 0 0 0; 
    }
    @include mixins.container;
    &__content-wrapper{
        @include mixins.grid(1,100px,100px);
        @media(--lg){
            @include mixins.grid(5,100px,100px);
            column-gap: 70px;
        }        
    }
    &__image{
        @media(--lg){
            grid-column: span 2;
        }
    }
    &__textcontent{
        @media(--lg){
            grid-column: span 3;
        }
    }
}

:--text-image{
    margin-bottom: var(--setion-heading-padding);
}

:--text-image-heading {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: var(--section-heading-margin);
}
:--text-image-heading-text{
    font-family: var(--secondary-font-family);
}

:--text-image-responsive{
    width: 50px;
}