@use 'StyleComponents/mixins';
@use 'StyleComponents/colors';
@import 'breakpoints';

.landing-page-header {
    &__content {
      @include mixins.grid(1,100px,100px);

      @media(--lg) {
        @include mixins.grid(6,100px,100px);
      }

      &--mobile {
        @media(--sm) {
          display: none;
        }
        display: grid;
      }

      &--desktop {
        @media(--sm) {
          display: grid;
        }
        display: none;
      }
    }

    &__left-content {
        grid-column: span 1;
        order:0;
    }

    &__right-content {
        background: colors.$dark-blue;
        order:1;
    }
}