@use 'StyleComponents/mixins';
@use 'StyleComponents/colors';
@use 'StyleComponents/typography';
@import 'Token';
@import 'StyleComponents/breakpoints';
@import 'StyleComponents/text-image';

@custom-selector :--text-image .text-image;
@custom-selector :--heading-description .landing-page-image-with-text .section-header__content p;
@custom-selector :--text-image-heading .text-image--image-with-text .text-image__heading;
@custom-selector :--text-image-heading-text .text-image--image-with-text .text-image__heading-text;
@custom-selector :--text-image-responsive .text-image--image-with-text .text-image__heading .responsive-image__wrapper;

.landing-page-image-with-text{
    &__wrapper{
        padding-top: var(--section-padding);
        margin-top: var(--section-margin); 
    }
    @include mixins.container;
    &__content-wrapper{
        @include mixins.grid(1,100px,100px);
        @media(--lg){
            @include mixins.grid(5,100px,100px);
            column-gap: 70px;
        }        
    }
    &__image{
        @media(--lg){
            grid-column: span 2;
        }
    }
    &__textcontent{
        @media(--lg){
            grid-column: span 3;
        }
    }
    &__heading{
        &--desktop{
            display: none;
            @media(--lg){
                display: block;
            }
        }
        &--mobile{
            display: block;
            @media(--lg){
                display: none;
            }
        }
    }
}

:--text-image{
    margin-bottom: var(--setion-heading-padding);
}

:--text-image-heading {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: var(--section-heading-margin);
}

:--heading-description{
    @include use-text-style('heading-2');
    font-family: var(--secondary-font-family);
}

:--text-image-responsive{
    width: 50px;
}

.section-header--image-with-text {
    text-align: left;
    @media(--sm){
        text-align: center;
    }
}