@use 'StyleComponents/mixins';
@use 'StyleComponents/colors';
@use 'StyleComponents/typography';
@import 'StyleComponents/breakpoints';
@import 'Token';

.info-compare{

    &__compare-section{
        @include mixins.container; 
        padding-top: var(--section-padding);
        margin-top: var(--section-margin); 
    }

    &__wrapper{
        @include mixins.grid(1, 40px, 40px);
        row-gap: calc(var(--grid-row-gap-large) * 2);
        @media(--sm){
            @include mixins.grid(2, 40px, 40px);
            column-gap: calc(var(--grid-row-gap-large) * 2);
        }
    }

    &__container{
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }

    &__heading{
        padding-bottom: var(--nav-vertical-padding);
        @include use-text-style('heading-3');
        @media(--sm){
            padding-bottom: var(--heading-bottom-padding) ;
            @include use-text-style('heading-2');
        }
    }

    &__description{
        display: flex;
        height: 100%;
        flex-direction: column;
        background: colors.$off-white;
        padding: var(--setion-top-padding) var(--nav-vertical-padding);
        column-gap: var(--setion-top-padding);
        @media(--sm){
            padding: var(--setion-top-padding) var(--setion-heading-padding);
        }
    }

    &__description-wrap{
        display: flex;
        margin-bottom: var(--grid-row-gap);
        column-gap: var(--setion-top-padding);
        @media(--sm){
            margin-bottom: var(--nav-vertical-padding);
        }
    }

    &__bullet-img{
        min-width: 30px;
    }

    &__text{
        @include use-text-style('body-title');
        @media(--sm){
            @include use-text-style('body-alt');
        }
    }
}

.section-header--compare-section {
    text-align: center;
}
