@use 'StyleComponents/mixins';
@use 'StyleComponents/colors';
@use 'StyleComponents/typography';
@import 'StyleComponents/breakpoints';
@import 'Token';

@custom-selector :--heading_width .info-compare__compare-section .section-header__content;
@custom-selector :--image-container .info-compare__image;
@custom-selector :--responsive-image .info-compare__image .responsive-image__wrapper;
@custom-selector :--description-last .info-compare__compare-section .info-compare__container:last-child .info-compare__description;

.info-compare{

    --sub-heading-spacing: 10px;
    --inner-block-list-padding: 24px 16px;
    --inner-content-spacing: 12px;
    --inner-block-grid-gap: 24px;
    @media(--md) {
        --sub-heading-spacing: 16px;
        --inner-block-list-padding: 24px 32px;
        --inner-content-spacing: 16px;
        --inner-block-grid-gap: 24px;
    }

    &__compare-section{
        @include mixins.container;
        padding-top: var(--section-padding);
        margin-top: var(--section-margin); 
    }

    &__wrapper{
        @include mixins.grid(1, 40px, 40px);
        row-gap: var(--grid-row-gap-large);
        @media(--sm){
            @include mixins.grid(2, 40px, 40px);
            column-gap: 0;
        }
    }

    &__container{
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        justify-content: space-between;
    }

    &__heading{
        padding-bottom: var(--sub-heading-spacing);
        @include use-text-style('heading-3');
        font-family: var(--primary-semibold-font-family);
        text-transform: uppercase;
        @media(--sm){            
            @include use-text-style('heading-2');
            font-family: var(--primary-semibold-font-family);
        }
        &-center{
            text-align: center;
        }
    }
    

    &__description{
        display: flex;
        height: 100%;
        flex-direction: column;
        background: colors.$white;
        padding: var(--inner-block-list-padding);
        column-gap: var(--inner-block-grid-gap);

        &__healandco-background {
            background: #f2f2f0;
        }
    }

    &__description-wrap{
        display: flex;
        align-items: flex-start;
        margin-bottom: var(--inner-content-spacing);
        column-gap: var(--inner-block-grid-gap);
        &:last-child{
            margin-bottom: 0;
        }
        @media(--sm){
            align-items: center;
        }
    }

    &__bullet-img{
        min-width: 30px;
    }

    &__text{
        @include use-text-style('body-title');
        font-family: var(--primary-font-family);
        @media(--sm){
            @include use-text-style('body-alt');
            font-family: var(--primary-font-family);
        }
    }
}
:--heading_width{
    max-width: 750px;
    margin: 0 auto;
}
:--description-last{
    background: colors.$off-white;
}
.section-header--compare-section {
    text-align: center;
}
:--image-container {
    height: 100%;
}
:--responsive-image {
    margin: 0 auto;
}


 






