
@use 'StyleComponents/mixins';
@use 'StyleComponents/colors';
@use 'StyleComponents/typography';
@import 'Token';
@import 'StyleComponents/breakpoints';

.landing-page-timeline{

    --section-header-spacing: 40px;

    @media (--sm) {
        --section-header-spacing: 80px;
    }

    @include mixins.container;
    @include mixins.section-spacing;
    
    @media screen and (max-width: 760px) {
        padding-bottom: 40px;
    }

    &__content-wrapper {
        max-width: fit-content;
        margin: 0 auto;
    }

    &__content {
        list-style: none;
        border-radius: 12px;
        position: relative;
        padding: 0 12px;
        margin: 0;
        
        @media (--sm) {
            padding: 0;
            margin: 0 auto;
        }

        &.content-width__small {
            max-width: 550px;
        }

        &.content-width__normal {
            max-width: 970px;
        }
    }

    &__heading .section-header__content {
        max-width: 970px;
    }

    &__heading .section-header__wrapper {
        margin-bottom: var(--section-header-spacing);
    }

    &__content-block {
        list-style: none;
        padding: 0 0 30px 60px;
        border-left: 2px solid colors.$dark-blue;
        position: relative;
        margin-left: 10px;
        cursor: default;
        transition: ease 0.3s all;

        &:last-child {
            border: 0px;
            padding-bottom: 0;
        }

        &:before {
            content: '';
            width: 24px;
            height: 24px;
            background: colors.$white;
            border: 3px solid colors.$dark-blue;
            border-radius: 50%;
            position: absolute;
            left: -13px;
            top: 0px;
        }

        &:hover .landing-page-timeline__content-heading {
            color: colors.$dark-blue;
        }

        &:hover::before {
            background: colors.$dark-blue;
        }
    }

    &__content-heading{
        color: colors.$light-blue;
        @include use-text-style('heading-2');
        font-family: var(--secondary-alt-font-family);
        line-height: 1;
    }

    &__content-text{
        color: colors.$dark-blue;
        margin-top: 10px;
        @include use-text-style('body-alt');
        line-height: 1.5;
    }
}

.section-header.section-header--timeline-section {
    .section-header__content {
        text-align: center;
    }
}