@use 'StyleComponents/colors';
@use 'StyleComponents/typography';
@import 'breakpoints';
@import 'Token';

.newsletter__content{
    max-width: 67rem;
    &-wrap{
        h2{
            @include use-text-style('heading-mob');
            font-family: "BrownStd-Bold" !important;
            @media(--sm){
                @include use-text-style('heading-1');
                font-family: var(--secondary-font-family) !important;
            }
        }
        .newsletter__text{
            @include use-text-style('body-alt');
        }
    }
    .news_image{
        width:auto;
        height: 5.6rem;
        object-fit: cover;
    }
    
    .email-bar{
        flex:32.5rem;
    }
}