<section class="our-story">
    <div class="container">
        <div class="astory_wrp">  
                <div class="story-heading">  
                    <h1 class=" h1 decorated_heading">{{ section.settings.heading }}</h1>
                </div>
                <p class="story-subtext">{{ section.settings.subtext }}</p>    
        </div>
    </div>
</section>

{% schema %}
{
    "name": "About Story Block",
    "tag": "section",
    "class": "section",
    "settings": [ 
                   {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                    },
                    {
                    "type": "text",
                    "id": "subtext",
                    "label": "Sub text"
                    }
                ],
"presets": [
        {
        "name": "About Story Block"
        }
    ]
}
{% endschema %}

