<section class="about-video">
  <div class="video-section">
    <!-- <div class="container video--fit" style="height: auto; "> -->
      <div class="video-wrapper ">
        <div class="about-video-thumbnail video-overlay">
          <img class="vid-image-size" onClick="videoPlayfunction()"
            src="{{ section.settings.thumbnail | img_url: 'master'}}" alt="Thumbnail">
        </div>
        <div class="play-icon">
          <img class="vid-icon-size about-play-icon" onClick="videoPlayfunction()" id=""
            src="{{ section.settings.play-icon | img_url: 'master'}}" alt="Thumbnail">
        </div>
        <div class="video-container">
          {% render 'video-block', video: section.settings.video, class: 'video-size playpause about-video-play', controls: true %}
          <!-- <video class="video-size playpause" id="about-video-play" src="{{ section.settings.video | media_tag }} "></video> -->
          <!-- <div class="video-size playpause" id="about-video-play">
            {{ section.settings.video | media_tag }}
          </div> -->


        </div>
      </div>
    <!-- </div> -->
  </div>
</section>

<script>
  const customVideo = document.querySelector('.about-video-play');
  function videoPlayfunction() {
    customVideo.play();
    document.querySelector('.vid-image-size').style.display = 'none';
    document.querySelector('.about-play-icon').style.display = 'none';
  }

  document.querySelector(".video-wrapper").addEventListener('click', () => {
    customVideo.classList.toggle('playpause');
    if (customVideo.classList.contains('playpause')) {
      customVideo.pause()
    }
    else {
      customVideo.play()
    }
  })

  function playVid() {
    x.play();
  }

  function pauseVid() {
    x.pause();
  }

</script>

{% schema %}
{
"name": "Video Section",
"settings": [
{
"type": "video",
"id": "video",
"label": "Video"
},
{
"type": "image_picker",
"id": "thumbnail",
"label": "Thumbnail"
},
{
"type": "image_picker",
"id": "play-icon",
"label": "Play icon"
}
],
"presets": [
{
"name": "Video Section"
}
]
}
{% endschema %}