{{ 'landing-page-timeline.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign options = section.settings
  assign heading = options.heading
  assign text = options.text

  assign metafield_data = page.metafields.custom.landing_page_timeline_section.value.timeline_blocks
-%}

<div class="landing-page-timeline">
    <div class="landing-page-timeline__wrapper">
        <div class="landing-page-timeline__heading">
            {%- liquid
                assign heading = heading
                assign text = text
            -%}
            {% render 'section-header', heading: heading, text: text, wrapper_class:'timeline-section' %}
        </div>
        <div class="landing-page-timeline__content-wrapper">
            <ul class="landing-page-timeline__content content-width__{{ options.content_width }}">
                {% for item in metafield_data.value %}
                <li class="landing-page-timeline__content-block">
                    <div class="landing-page-timeline__content-heading">{{ item.heading }}</div>
                    <p class="landing-page-timeline__content-text">{{ item.description }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% schema %}
{
    "name": "Landing page timeline",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "t:sections.collection_list.title_label"
        },
        {
            "type": "text",
            "id": "text",            
            "label": "Content"
        },
        {
            "type": "select",
            "id": "content_width",
            "label": "Content width",
            "options": [
              {
                "value": "small",
                "label": "Small"
              },
              {
                "value": "normal",
                "label": "Normal"
              }
            ],
            "default": "normal"
          }
    ],
    "presets": [
        {
        "name": "Landing page timeline"
        }
    ]
}
{%  endschema %}