{{ 'landing-page-image-with-text.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign options = section.settings
  assign heading_alignment = options.heading_alignment
  assign image = options.image
  assign heading = options.heading
  assign text = options.text
-%}

<div class="landing-page-image-with-text">
    <div class="landing-page-image-with-text__wrapper">
        <div class="landing-page-image-with-text__heading">
            {%- liquid
                assign heading = heading
                assign text = text
            -%}
            {% render 'section-header', heading: heading, text: text, heading_alignment: heading_alignment %}
        </div>
        <div class="landing-page-image-with-text__content">
            <div class="landing-page-image-with-text__content-wrapper">
                <div class="landing-page-image-with-text__image">
                    {% render 'shopify-responsive-image', image: image, aspect_ratio: 1.2 %}
                </div>
                <div class="landing-page-image-with-text__textcontent">
                    {% for i in (1..4) %}
                        {% render 'text-image' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% schema %}
{
    "name": "Landing page image & text",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "t:sections.collection_list.title_label"
        },
        {
            "type": "text",
            "id": "text",            
            "label": "Content"
        },
        {
            "type": "select",
            "id": "heading_alignment",
            "label": "t:sections.general_section_settings.heading_alignment_label",
            "options": [
                {
                    "value": "left",
                    "label": "t:sections.general_section_settings.alignment_option_left_label"
                },
                {
                    "value": "center",
                    "label": "t:sections.general_section_settings.alignment_option_center_label"
                }
            ],
            "default": "center"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Choose Image"
        }
    ],
    "presets": [
        {
        "name": "Landing page image & text"
        }
    ]
}
{%  endschema %}