{{ 'landing-page-header-styles.css' | asset_url | stylesheet_tag }}

<div class="landing-page-header">
  <div class="landing-page-header__wrapper"> 
    <div class="landing-page-header__content">
         <div class="landing-page-header__left-content">
          <div class="landing-page-header__logo">
                <svg xmlns="http://www.w3.org/2000/svg" width="188" height="26" viewBox="0 0 188 26" fill="none">
                    <path d="M17.3435 14.4895H4.82792V25.7546H0V0.717773H4.82792V10.1942H17.3435V0.717773H22.1714V25.7546H17.3435V14.4895Z" fill="#2F4775"/>
                    <path d="M32.7244 5.00733V10.1942H40.412V14.4837H32.7244V21.4593H43.2717V25.7488H27.8965V0.717773H42.9128V5.00733H32.7244Z" fill="#2F4775"/>
                    <path d="M45.7783 25.7546L56.5051 0.717773H59.9032L70.6299 25.7546H65.5878L63.226 20.2089H53.1765L50.8146 25.7546H45.7783ZM55.0058 15.9193H61.3735L58.1897 8.51538L55.0058 15.9193Z" fill="#2F4775"/>
                    <path d="M73.4956 0.717773H78.3235V21.4593H88.8708V25.7488H73.4956V0.717773Z" fill="#2F4775"/>
                    <path d="M106.4 10.2927V0.0869141H111.65V10.2927H121.856V15.5432H111.65V25.749H106.4V15.5432H96.1938V10.2927H106.4Z" fill="#2F4775"/>
                    <path d="M133.937 12.8744C133.937 17.7371 137.653 21.4593 142.487 21.4593C145.74 21.4593 148.102 19.8848 149.567 17.9918L152.895 20.9615C150.678 23.7865 146.956 25.7547 142.383 25.7547C134.585 25.7547 129.115 20.07 129.115 12.8802C129.115 5.69046 134.51 0 142.308 0C146.03 0 149.208 1.39512 151.466 3.57752L148.357 6.8656C146.858 5.36628 144.745 4.28955 142.279 4.28955C137.514 4.29534 133.937 8.12178 133.937 12.8744Z" fill="#2F4775"/>
                    <path d="M168.138 0C175.86 0 181.192 5.75992 181.192 12.8744C181.192 19.989 175.866 25.7489 168.138 25.7489C160.416 25.7489 155.084 19.989 155.084 12.8744C155.084 5.75992 160.41 0 168.138 0ZM168.138 21.4593C172.856 21.4593 176.364 17.5982 176.364 12.8744C176.364 8.15073 172.862 4.28955 168.138 4.28955C163.42 4.28955 159.912 8.15073 159.912 12.8744C159.912 17.5982 163.414 21.4593 168.138 21.4593Z" fill="#2F4775"/>
                    <path d="M180.051 23.3525C180.682 23.3525 181.192 23.8562 181.192 24.4929C181.192 25.1239 180.688 25.616 180.051 25.616C179.42 25.616 178.928 25.1239 178.928 24.4929C178.928 23.8562 179.414 23.3525 180.051 23.3525Z" fill="#2F4775"/>
                    <path d="M184.364 1.04778V1.453H183.739V3.40385H183.287V1.44721H182.662V1.04199H184.364V1.04778Z" fill="#2F4775"/>
                    <path d="M185.898 2.45448L186.755 1.04199H187.073V3.39806H186.622V2.08978L186.055 3.016H185.736L185.169 2.08978V3.40385H184.717V1.04778H185.036L185.898 2.45448Z" fill="#2F4775"/>
                </svg>
          </div>
        </div>
         <div class="landing-page-header__right-content">
            <div class="landing-page-header__text-content">
                <p class="landing-page-header__teaser">Join 750,000+ HEAL + CO. Customer </p>
                <p class="landing-page-header__text">LIMITED TIME - Save uo to 40% + a FREE Super mushroom complex Bottle</p>
            </div>
            <div class="landing-page-header__CTA">
              <button class="button button--secondary">Get Offer</button>
            </div>
        </div>
     </div>
  </div> 
</div>

{% schema %}
{
 "name": "Landing page header",
 "presets": [
    {
       "name": "Landing page header"
    }
 ]
}
{%  endschema %}