{{ 'landing-page-compare-section.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign options = section.settings
  assign heading = options.heading
  assign text = options.text
  assign heading_alignment = options.heading_alignment
  assign firstHeading = options.block_heading_one
  assign firstImage = options.image_other_one
  assign secondHeading = options.block_heading_two
  assign SecondImage = options.image_other_two
  
-%}
<div class="info-compare__compare-section">
    <div class="info-compare-compare-section__wrapper">
        <div class="info-compare-compare-section__content">
            {%- liquid
                assign heading = heading
                assign text = text
            -%}
            {% render 'section-header', heading: heading, text: text, wrapper_class:'compare-section' %}
        </div>
        <div class="info-compare">
            <div class="info-compare__wrapper">
               <div class="info-compare__container">
                    <div class="info-compare__heading">{{firstHeading}}</div>
                    <div class="info-compare__image"> {% render 'shopify-responsive-image', image:firstImage, aspect_ratio: 1.4 %} </div>
                    <div class="info-compare__text-wrapp">
                        <div class="info-compare__description">
                            {% for block in section.blocks %}
                                {% liquid
                                    assign options = block.settings
                                    assign otherBullet = options.svg_image_other
                                    assign otherText = options.description_other
                                    assign info_type = options.info_type
                                %}
                                {% if info_type == 'other' %}
                                    {% render 'landing-page-compare-info', image: otherBullet, content: otherText %}
                                {% endif %}
                    
                                
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="info-compare__container">
                    <div class="info-compare__heading">{{secondHeading}}</div>
                    <div class="info-compare__image"> {% render 'shopify-responsive-image', image:SecondImage, aspect_ratio: 1.4 %} </div>
                    <div class="info-compare__description">
                         {% for block in section.blocks %}
                            {% liquid
                                assign options = block.settings
                                assign heal_and_co_bullet = options.svg_image_other
                                assign heal_and_co_text = options.description_other
                                assign info_type = options.info_type
                            %}
                            {% unless info_type == 'other' %}
                                {% render 'landing-page-compare-info', image: heal_and_co_bullet, content: heal_and_co_text %}
                            {% endunless %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% schema %}
{
    "name": "Landing compare section",
    "settings": [  
         {
            "type": "text",
            "id": "heading",
            "label": "t:sections.collection_list.title_label"
        },
        {
            "type": "text",
            "id": "text",            
            "label": "Content"
        },
        {
            "type": "text",
            "id": "block_heading_one",
            "label": "First Heading"
        },
        {
            "type": "text",
            "id": "block_heading_two",
            "label": "Second Heading"
        },
        {
            "type": "image_picker",
            "id": "image_other_one",
            "label": "First Image"
        },
        {
            "type": "image_picker",
            "id": "image_other_two",
            "label": "Second Image"
        }
    ],
    "blocks": [
        {
            "type": "other",
            "name": "Other",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "svg_image_other",
                    "label": "Bullets image"
                },
                {
                    "type": "text",
                    "id": "description_other",
                    "label": "Description"
                },
                {
                    "type": "text",
                    "id": "info_type",
                    "label": "Add block type"
                }
            ]
        },
        {
            "type": "heal_and_co",
            "name": "Heal_and_co",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "svg_image_heal_and_co",
                    "label": "Bullets image"
                },
                {
                    "type": "text",
                    "id": "description_heal_and_co",
                    "label": "Description"
                },
                {
                    "type": "text",
                    "id": "info_type",
                    "label": "Add block type"
                }
            ]

        }
    ],
    "presets": [
        {
        "name": "Landing compare section"
        }
    ]
}
{%  endschema %}