/*!*****************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/about-creator.scss ***!
  \*****************************************************************************************************************************************************************************************************************************/
.about-creator {
  background: none !important;
}
.about-creator .about_creator_wrp {
  padding: 0 0 4rem 0;
}
@media (min-width: 1200px) {
  .about-creator .about_creator_wrp {
    padding: 0;
  }
}
.about-creator .about_creator_wrp .creator-inner-flex .creator-img .cimage {
  padding: 0 !important;
}
@media (min-width: 768px) {
  .about-creator .about_creator_wrp .creator-inner-flex .creator-img .cimage {
    padding: 0px 47px 0px !important;
  }
}
@media (min-width: 1200px) {
  .about-creator .about_creator_wrp .creator-inner-flex .creator-img .cimage {
    padding: 45px 94px 73px 0px !important;
  }
}
.about-creator .about_creator_wrp .creator-inner-flex .creator-content {
  padding: 20px 0;
}
@media (min-width: 1200px) {
  .about-creator .about_creator_wrp .creator-inner-flex .creator-content {
    padding: 11em 9em 4em 0;
  }
}
.about-creator .about_creator_wrp .creator-inner-flex .creator-content .creator-heading h1 {
  font-family: "proximanova-regular";
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  font-family: var(--secondary-font-family);
  color: #2F4775;
}
@media (min-width: 390px) {
  .about-creator .about_creator_wrp .creator-inner-flex .creator-content .creator-heading h1 {
    font-family: "proximanova-regular";
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    font-family: var(--secondary-font-family);
  }
}
@media (min-width: 768px) {
  .about-creator .about_creator_wrp .creator-inner-flex .creator-content .creator-heading h1 {
    font-family: "proximanova-regular";
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    font-family: var(--secondary-font-family);
  }
}
.about-creator .about_creator_wrp .creator-inner-flex .creator-content .creator-heading h1::after {
  color: #CBD1DC;
}
.about-creator .about_creator_wrp .creator-inner-flex .creator-content .creator-desc {
  font-family: "proximanova-regular";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  font-family: var(--primary-font-family);
  color: #2F4775;
  line-height: 24px;
}
@media (min-width: 768px) {
  .about-creator .about_creator_wrp .creator-inner-flex .creator-content .creator-desc {
    font-family: "proximanova-regular";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    font-family: var(--primary-font-family);
    line-height: 27px;
  }
}
