.Desktop{
    display: none;
}

.Mobile{
    display: block;
}

.about-creator{
    background: #FAF5EF;
}
.abt-banner{
    width:100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
    display: none;
}
.about_banner_img{
    position: relative;
    display: block;
    /* padding-bottom: 36%; */
    height: 100%;
}

.abt-banner-mob{
    height: 100%;
    width:100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
}

.about_banner_imgmob{
    position: relative;
    height: 100%;
    padding-bottom: 67%;
}
.about-subtext{
/* font-family: 'BrownStd'; */
font-style: normal;
font-weight: 700;
font-size: 41px;
line-height: 47px;
text-align: center;
color: #FFFFFF;
padding: 0 7px 36px;
}

.about-heading{
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 1.4;
text-align: center;
color: #FFFFFF;
padding-top: 36px;

}
.astory_wrp{
    padding:50px 0;
}
.story-heading{
    text-align: center;
   padding-bottom: 20px;
    font-size: 24px;
    line-height: 33px;
    font-style: normal;
    font-weight: 700;
}

.decorated_heading:after{

        background-repeat: no-repeat;
        background-size: cover;
}
  


.story-subtext{
    text-align: center;
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
}



.creator-heading{
    padding-bottom: 20px;
    text-align: center;
}

.about-create-heading{
    font-size: 24px;
}

.creator-desc{
    font-size: 16px;
    line-height: 26px;
}

.creator-inner-flex {
    flex-direction: column;
    display: flex;
}

.creator-desc{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

.about_creator_wrp{
    padding: 2em 0;
}

.cimage{
    width: 100%;
    height: auto;
}
@media(max-width:320px){
    .about-heading{
        font-size: 20px;
    }

    .about-subtext{
        font-size: 33px;
    }
}
@media(min-width:768px){
    .Mobile{
        display: none;
    }

    .Desktop{
        display: block;
    }
    .abt-banner{
        display: block;
    }
    .about_banner_img{
        padding-bottom: 36%;
    }

    .creator-inner-flex{
        display: flex;
        flex-direction: column;
    }
    
    .about-create-heading {
        font-size: 40px;
    }
    
    .about_creator_wrp{
        padding: 4em 0;
    }
    
    .cimage{
        width: 100%;
        padding: 3em;
    }
    
}
@media(min-width:1200px){
    .about-heading{
        font-size: 48px;
        line-height: 80px;
        padding-top: 0;
    }
    .about-subtext{
        font-size: 96px;
        line-height: 80px;
    }

    .story-heading{
        font-size: 40px;
        line-height: 77px;
    }

    .story-subtext{
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        width: 53%;
    }

    .astory_wrp{
        padding:80px 0;
    }

.banner_text_wrp{
    background-repeat: no-repeat;
    background-size: cover;
}
.creator-content{
    padding: 7em 3em 4em 2em;
}

.creator-heading{
    padding-bottom: 50px;
    text-align: left;
}

.creator-desc{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
}

.creator-inner-flex{
    display: flex;
    flex-direction: row;
}

.about-create-heading {
    font-size: 40px;
}

.about_creator_wrp{
    padding: 4em 0;
}

.cimage{
    width: auto;
}
}

@media(min-width:1600px){
    .creator-desc{
        width:80%;
    }
}