/* Banner section css starts here */

.Desktop{
    display: none;
}

.Mobile{
    display: block;
}
.abt-banner{
    width:100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
    display: none;
}
.about_banner_img{
    position: relative;
    display: block;
    /* padding-bottom: 36%; */
    height: 100%;
}

.abt-banner-mob{
    height: 100%;
    width:100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
}

.about_banner_imgmob{
    position: relative;
    height: 100%;
    padding-bottom: 67%;
}
.about-subtext{
/* font-family: 'BrownStd'; */
font-style: normal;
font-weight: 700;
font-size: 41px;
line-height: 47px;
text-align: center;
color: #FFFFFF;
padding: 0 7px 36px;
}

.about-heading{
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 1.4;
text-align: center;
color: #FFFFFF;
padding-top: 36px;

}

@media(max-width:320px){
    .about-heading{
        font-size: 20px;
    }

    .about-subtext{
        font-size: 33px;
    }
}
@media(min-width:768px){
    .Mobile{
        display: none;
    }

    .Desktop{
        display: block;
    }
    .abt-banner{
        display: block;
    }
    .about_banner_img{
        padding-bottom: 36%;
    }
    
}
@media(min-width:1200px){
    .about-heading{
        font-size: 48px;
        line-height: 80px;
        padding-top: 0;
    }
    .about-subtext{
        font-size: 96px;
        line-height: 80px;
    }
}

.banner_text_wrp{
    background-repeat: no-repeat;
    background-size: cover;
}