.mt-22 {
    margin-top: 22px;
}

.article {
    padding-bottom: 4.2rem;
}

.article__blocks {
    row-gap: 3.2rem;
}

.link__prev__chevron, .link__prev_chevron {
    width: 2.4rem;
    height: 2.4rem;
    position: relative;
    transform: scale(-1, 1);
}

.link__prev__chevron {
    right: 0.8rem;
}

svg.link__prev__chevron path {
    stroke: #9A9A9A;
}

svg.link__prev_chevron path {
    stroke: #000;
}

.link__home__text {
    font-family: "BrownStd-Regular";
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: underline;
    color: #9A9A9A;
    text-transform: none;
}

.blogs_home-link {
    display: flex;
    justify-content: flex-start;
    margin: 23px 0 14px 0;
}

h2.article__title {
    font-family: "BrownStd-Bold";
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: #ea6852;
}

.article .section-spacing .article__blocks .container .article__content h2{
    text-transform: uppercase;
    font-family: "BrownStd-Bold";
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.article .section-spacing .article__blocks .container .article__content p,
.article .section-spacing .article__blocks .container .article__content p span {
    font-family: "BrownStd-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.article .section-spacing .article__blocks .container .article__content h4 {
    margin-top: 26px;
}

.article .section-spacing .article__blocks .container .article__content h4, 
.article .section-spacing .article__blocks .container .article__content h4 span strong {
    font-family: "BrownStd-Bold";
    font-size: 24px;
    line-height: 24.2px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.article-footer-posts__post-link span.link__text {
    font-family: "BrownStd-Bold";
    font-size: 12px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
}

.article-footer-posts__post-link svg.link__chevron path {
    stroke: #000000;
}

.article-footer-posts__post-title {
    font-family: "BrownStd-Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    color: #686868;
}

.article-footer-posts_post .article-footer-posts_post--prev {
    text-align: left;
}

.article-footer-posts_post .article-footer-posts_post--next {
    text-align: right;
}

.article__blocks div:last-of-type .article__content{
    border-bottom: 1px solid #D8D8D8;
}

.pt-0 {
    padding-top: 0;
}

.collection__header {
    align-items: flex-start;
}

.collection__title {
    font-family: "BrownStd-Bold";
    font-size: 24px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
}

.article-footer-panel {
    background-color: #F5F5F5;
}

.article-footer-panel .article-meta .article-footer-panel__article-meta span.article-meta__item,
.article-meta, .share__btn {
    font-family: "BrownStd-Regular";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
}

.article-footer-panel .article-meta .article-footer-panel__article-meta span.article-meta__item,
.article-meta {
    color: #575758;
}

.share__btn, .share__btn svg path {
    stroke: #414142;
}

.article-comments__comment-form, .article-comments {
    margin: 3.8rem 0 6.4rem 0;
}

.comment-form__title {
    font-family: "BrownStd-Bold";
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.comment-form__field input, .comment-form__field textarea {
    border-color: #C5C5C5;
    font-family: "BrownStd-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #7E7E7E;
}

.comment-form__note {
    font-family: "BrownStd-Regular";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #737373;
    margin-top: 22px;
}

@media screen and (min-width: 768px){
    .collection__header {
        column-gap: 3.2rem;
    }
    .article-footer-panel {
        padding: 2.4rem 1.6rem 2.4rem 2.4rem;
    }
}
@media screen and (max-width: 767px) {
    .article {
        padding-bottom: 4.8rem;
    } 
    .article__blocks {
        row-gap: 0;
    }
    h2.article__title {
        margin-top: 2rem;
        margin-bottom: 4.8rem;
    }
    .article__image {
        padding: 0 20px;
    }
    .article-footer-posts__post-title {
        display: block;
        text-align: center;
    }
    .article-footer-posts {
        display: flex;
    }
    .article-footer-posts_post .article-footer-posts_post--next, .article-footer-posts_post--next {
        margin: auto;
        text-align: center;
    }
    .collection__header {
        margin: 0 0 1.6rem;
    }
    .article-footer {
        padding-left: 0;
        padding-right: 0;
    }
    .comment-form__field-group {
        gap: 1.2rem;
    }
    .image-banner__btn {
        width: 155px;
    }
}

@media screen and (max-width: 540px) {
    h2.article__title {
        font-size: 28px;
        line-height: 34px;
    }
    .article .section-spacing .article__blocks .container .article__content p,
    .article .section-spacing .article__blocks .container .article__content p span {
        font-size: 16px;
        line-height: 26px;
    }
    .article .section-spacing .article__blocks .container .article__content h2 {
        font-size: 24px;        
    }
    .article .section-spacing .article__blocks .container .article__content h4 span strong {
        font-size: 20px;
    }
    .collection__title {
        font-size: 24px;
        line-height: 29px;
    }
    .article-comments__comment-form, .article-comments {
        margin: 6.4rem 0 6.4rem;
    }
    .article-footer-panel {
        margin-bottom: 20px;
    }
    .comment-form__note {
        margin-top: 12px;
    }
    .article-footer-panel .article-meta .article-footer-panel__article-meta span.article-meta__item,
    .article-meta, .share__btn {
        font-size: 14px;
    }
    .article-footer-posts__post-title{
        display: none;
    }
    .article-footer-posts__post-link span.link__text {
        line-height: 17px;
        border-bottom: 1px solid black;
    }
    .article-footer-posts{
        padding: 0 1.2rem;
    }
    .article-footer-posts_post .article-footer-posts_post--next, .article-footer-posts_post--next {
        margin: 0;
    
    }
}