.page_title_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 21px;
}

.page_title {
    font-family: "BrownStd-Bold" !important;
    font-size: 48px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
}

.page_subtitle {
    font-family: "BrownStd-Regular" !important;
    font-size: 36px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
}

.articles__container {
    padding: 32px 48px 64px 48px;
}

.articles__header {
    margin-bottom: 32px;
}

.featured-article {
    height: 100%;
}

.featured-article__order-number {
    display: none;
}

.featured-article__content {
    align-items: center;
}

.featured-article__content .link__text::before {
    background-color: #ffffff;
}

.featured-article__content svg.link__chevron{
    color: #ffffff;
}



.featured-article__text {
    font-family: "BrownStd-Regular";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.045em;
    text-align: left;
}

.link__text {
    font-family: "BrownStd-Regular";
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

.article-card__read-more-link span.link__text:before {
    background: #000;
}

.articles__header {
    border: 1px solid #B9B9B9;
    padding: 26px 42px;
    border-radius: 40px;
}

.articles__tags {
    margin-top: 0;
    column-gap: 3rem;
    row-gap: 0;
}

.articles__tag {
    font-family: "BrownStd-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    color: #888888;
    text-transform: capitalize;
}

.articles__tag.selected {
    color: #EA6852;
    text-decoration: underline;
}

.article-card__title {
    font-family: "BrownStd-Regular" !important;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.045em;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.article-card__read-more-link {
    font-family: "BrownStd-Regular";
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-top: 32px;
}

.link__chevron {
    color: #000000;   
}

.article-card__details--bottom-spacing {
    padding-bottom: 0;
}

.articles__load-button-pagination {
    margin: 3.2rem 0 0;
}

.load-button-pagination__count {
    font-family: "BrownStd-Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #5A5A5B;
}

.load-button-pagination__progress {
    background: linear-gradient(90deg,#EE5C4C,var(--gsc-pagination-progress),var(--gsc-text-color-10)var(--gsc-pagination-progress));
}

.load-button-pagination__btn {
    border-color: #EE5C4C;
    color: #EE5C4C;
    font-family: "BrownStd-Bold";
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    width: 263px;
    height: 50px;
}
@media screen and (min-width: 1025px) {
    .articles--page .articles__header {
        width: 50%;
    }
    .featured-articles__btns-wrap {
        top: 4rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .article-card__title {
        font-size: 16px;
        line-height: 22px;
    }
    .article-card__details>*+.article-card__read-more-link {
        margin: 1rem 0 0;
    }
    .articles--page .articles__header {
        width: 70%;
    }
    .featured-articles__btns-wrap {
        top: 6rem;
    }
}

@media screen and (min-width: 768px) {
    .article-card__read-more-link {
        margin-top: 32px;
    }
    .featured-article__link {
        height: 100%;
    }
    .featured-articles__carousel-container {
        height: 60rem;
    }
    .featured-article {
        height: auto;
    }
    .featured-article__order-number+.featured-article__content {
        padding: 0 0 1.6rem;
    }
    .featured-article__content>*+*:last-child {
        margin: 3.2rem 0 0;
    }
    .articles__card-grid-wrap .card-grid {
        grid-row-gap: 79px;
    }
    .articles--page .articles__header {
        margin: 0;
        padding: 0 42px;
        border: 1px solid #B9B9B9;
        border-radius: 40px;
    }    
}

@media screen and (max-width: 767px) {
    .section-template--16185140215966__blog .article-card {
        --gsc-img-ratio: 100%;
    }
    .shape--nature {
        padding-bottom: 100%;
    }

    .page_title_container {
        padding: 24px 57px 21px 55px;
    }
    .page_title {
        font-size: 44px;
        line-height: 33px;
    }
    .page_subtitle {
        font-size: 24px;
        line-height: 33px;
    }
    .featured-articles__btns-wrap {
        top: 26.3rem;
    }
    .articles__container {
        padding-left: 0;
        padding-right: 0;
        padding-top: 33px;

    }
    .blog_search_article_tags{
        border-top: 1px solid #B9B9B9;
        border-bottom: 1px solid #B9B9B9;
        padding-top: 23px;
        padding-bottom: 18px;
    }
    .blog_search_article_tags .template-search__search{
        margin-bottom: 12px !important;
    }
    .articles__header {
        margin: 0;
        padding: 0px 15px;
        border-radius: 0;        
        border: 0;
    }
    .articles__tags {
        gap: 24px 28px;
    }
    .articles__tag {
        line-height: initial;
        color: #000000;
    }
    .articles__card-grid-wrap {
        padding-left: 15px;
        padding-right: 15px;
    }
    .article-card {
        width: 100%;
    }
    .featured-article__title {
        font-size: 20px;
        line-height: 28px;
    }
    .articles__card-grid-wrap .card-grid {
        grid-gap: 56px;
    }
    .articles__load-button-pagination {
        margin: 6.0rem 0 0;
    }
    .featured-article__content, .featured-article__order-number+.featured-article__content {
        padding: 0;
    }
    .featured-article__details-wrap {
        padding: 3.2rem 3.2rem 7.2rem;
    }
}

@media screen and (max-width: 540px) {
    .featured-article__title {
        font-size: 20px;
        line-height: 28px;
    }
    .featured-article__text {
        font-size: 16px;
        line-height: 24px;
    }
    .link__text {
        font-size: 16px;
        line-height: 31.2px;
        text-decoration: underline;
    }
}

@media screen and (max-width: 320px) {
    .page_title_container {
        padding: 24px 23px 21px 23px;
    }
}


/* Blog page predictive search css */
.predictive-search__loading-state .spinner {
    animation: rotator 1.4s linear infinite;
    width: 1.5rem;
    height: 1.5rem;
}
  
.predictive-search__loading-state .path{
    stroke-dasharray: 280;
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke: rgb(var(--gsc-black-color),.5);
    animation: dash 1.4s ease-in-out infinite;
    vector-effect: none;
}
@keyframes rotator {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(270deg);
    }
}
@keyframes dash {
    0% {
        stroke-dashoffset: 280;
    }
    50% {
        stroke-dashoffset: 75;
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 280;
        transform: rotate(450deg);
    }
}

blog-predictive-search:not([loading]) .predictive-search__heading .spinner,
blog-predictive-search:not([loading]) .predictive-search__loading-state,
blog-predictive-search:not([loading]) .predictive-search-status__loading {
    display: none;
}

.predictive-search {
    display: none;
    position: absolute;
    top: calc(100% + 0.1rem);
    left: -0.1rem;
    width: calc(100% + 0.2rem);
    z-index: 2;
    background-color: #fff;
}
blog-predictive-search[open] .predictive-search {
    display: block;
}
blog-predictive-search[open=true]:before {
    position: fixed;
    content: "";
    background-color: rgb(var(--gsc-black-color),.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

blog-predictive-search .search {
    position: relative;
    z-index: 3;
}
.template-search__search .field .search__input.field__input {
    padding-left: 2rem;
    padding-right: 0;
    border-radius: 40px;
    background: #ffffff;
    border: 1px solid #B9B9B9;
    width: 100%;
    height: 6rem;
    font-size: 16px;
}
.template-search__search .field .search__input.field__input:focus-visible{
    outline: none;
}
blog-predictive-search .search .field {
    width: 100%;
}
.field__button {
    align-items: center;
    background-color: transparent;
    border: 0;
    color: currentColor;
    cursor: pointer;
    display: flex;
    height: 6rem;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 0;
    width: 4.4rem;
}
.field__button svg path{
    stroke: #000;
}

.predictive-search__item-content {
    display: flex;
    grid-area: product-content;
    flex-direction: column;
}
.predictive-search__item-heading {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
}
.predictive-search__results-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.predictive-search__item--link {
    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-column-gap: 2rem;
    grid-template-areas: "product-image product-content";
}

.predictive-search__item {
    display: flex;
    padding: 1rem 2rem;
    text-align: left;
    text-decoration: none;
    width: 100%;
}

.predictive-search__item--term {
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 2rem;
    word-break: break-all;
    line-height: 1.4;
    border: 0;
}

.predictive-search__item--term svg {
    width: 20px;
    height: 20px;
}

.blog_search_article_tags{
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    align-items: center;
    flex-direction: column;
}
.blog_search_article_tags .template-search__search{
    width: 100%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.articles__tags {
    justify-content: flex-start !important;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    /* -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory; */
    white-space: nowrap;
    width: 100%;
    flex-wrap: nowrap;
    padding-bottom: 20px;
    padding-top: 20px;
}
.articles__tag {
    flex: 0 0 auto;
    white-space: normal;
    scroll-snap-align: start;
    line-height: normal;
}
.articles--page .articles__header{
    width: 100%;
}

@media(min-width: 768px) and (max-width:1024px){
    .articles__container{
        padding-right: var(--gsc-container-padding);
        padding-left: var(--gsc-container-padding);
    }
}
@media(min-width: 768px){
    .blog_search_article_tags{
        flex-direction: row;        
        column-gap: 20px;
        margin-bottom: 37px;        
    }
    .articles--page .articles__header{
        width: 50%;
    }
    .blog_search_article_tags .template-search__search{
        padding: 0;
        margin-bottom: 0;
        flex: 1 0 25%;
    }
    .articles__header{
        flex: 1 0 70%;
    }
    .template-search__search .field .search__input.field__input {
        font-size: 14px;
    }    
}
@media(min-width: 1200px){
    blog-predictive-search .search .field {
        width: 100%;
    }
    .blog_search_article_tags{
        flex-direction: row;        
        column-gap: 40px;
        margin-bottom: 37px;        
    }
    .articles--page .articles__header{
        width: 50%;
    }
    .blog_search_article_tags .template-search__search{
        padding: 0;
        margin-bottom: 0;
        flex: 1 0 25%;
    }
    .articles__header{
        flex: 1 0 70%;
    }
    .template-search__search .field .search__input.field__input {
        font-size: 16px;
    }
}
