/*!***************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/bundle-tabs-section-new.scss ***!
  \***************************************************************************************************************************************************************************************************************************************/
.bundleTabsSection {
  --swiper-scrollbar-drag-bg-color: #2F4775;
  --swiper-scrollbar-sides-offset: 7%;
  background: #fff;
}
.bundleTabsSection .bundle-header {
  margin-bottom: 40px;
}
.bundleTabsSection .product-image__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  margin: auto;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
}
.bundleTabsSection .product-image__list--desktop {
  display: none;
}
@media (min-width: 1024px) {
  .bundleTabsSection .product-image__list--desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.bundleTabsSection .product-image__list--mobile {
  display: block;
}
@media (min-width: 1024px) {
  .bundleTabsSection .product-image__list--mobile {
    display: none;
  }
}
.bundleTabsSection .product-image__item {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  padding-bottom: 50px;
}
@media (min-width: 1200px) {
  .bundleTabsSection .product-image__item {
    border-bottom: 3px solid #EAEDF1;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}
.bundleTabsSection .product-image__item--selected {
  opacity: 1;
  border-bottom: 3px solid #2F4775;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.bundleTabsSection .product-image__item--selected img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}
.bundleTabsSection .content__list-item p::-webkit-scrollbar-thumb {
  background-color: var(--swiper-scrollbar-drag-bg-color);
}
