/* *{
    font-family: "BrownStd-Regular" !important; 
} */

.collection-custom__title{
    font-weight: 700;
    /* text-transform: uppercase; */
    /* text-shadow: 4px 4px 5px #000000; */
}
.collection-hero__image{
    object-position: 0% 50%;
}
.section_seperation{
    position: absolute;
    border-top: 1px solid #CECECE;
    top: calc(var(--gsc-heading-4-desktop-font-size)/1.5);
    left: 20%;
    width: 100vw;
    z-index: 0;
}
@media (max-width: 425px) {
    .section_seperation{
        top: calc(var(--gsc-heading-4-desktop-font-size)/1.8);
    }
}
@media (max-width: 350px) {
    .collection_title {
        font-size: 18px;
    }
}
.shop__filters-btn-label, .sort-list__btn{
    font-size: 18px;
    font-weight: var(--gsc-font-weight-normal);
    font-family: var(--primary-semibold-font-family);
    color: #2F4775;
}
.filters__label{
    font-size: 18px;
    color: #2F4775;
    align-items: center;
}
.collection_title{
    background: #fff;
    position: relative;
    width: fit-content;
    z-index: 1;
    font-family: "BrownStd-Bold";
    padding-right: 35px;
    padding-bottom: 47px;
    font-size: 40px;
}

@media (max-width: 768px){
    .section_seperation{
        left: -20px;
    }
    .collection_title{
        margin: auto;
        padding: 0 20px 12px 20px;
    }
    .filters__label{
        font-size: 18px;
    }
}
.filters__form .accordeon__content .checkbox__span--outline{
    border: 1px solid #2F4775 !important;
}
.filters__form .accordeon__content .filters__option-count{
    display: none;
}
.filters__form .accordeon__content .checkbox span{    
    text-transform: capitalize;
    font-family: 'proximanova-regular';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    color: #2f4775;
}
.filters__form accordeon-component .filters__label{
    justify-content: left;
    padding: 1em 0 1em;
    font-family: 'proximanova-semibold';
    text-transform: capitalize;
}
.sidebar-filters--mobile .sidebar-filters__content .sidebar-filters__header{
    justify-content: left;
    flex-direction: row-reverse;
    column-gap: calc(100% / 2.5);
    border-bottom: 1px solid #E2E2E2;
}
.sidebar-filters--mobile .sidebar-filters__content .sidebar-filters__header .filters__results-count{
    display: none;
}
@media (max-width: 768px){
    .filters__form .filters__item.filters__item--bordered{
        border-top: 0;
        border-bottom: 1px solid #E2E2E2;
        border-top: 0 !important;
    }
}
.filters__form .filters__item.filters__item--bordered{
    border-top: 0;
    border-top: 1px solid #E2E2E2;
}
#ShopSortList .sidebar-sort-list .sort-list-sidebar__body .sort-list-sidebar__header{
    justify-content: left;
    flex-direction: row-reverse;
}
#ShopSortList .sidebar-sort-list .sort-list-sidebar__body .sort-list-sidebar__header{
    border-bottom: 1px solid #E2E2E2;
}
#ShopSortList .sidebar-sort-list .sort-list-sidebar__body .sort-list-sidebar__header sidebar-button{
    flex-basis: 43%;
}
#ShopSortList .sidebar-sort-list .sort-list-sidebar__body .sort-list-sidebar__form-wrap{
    align-items: flex-start;
    padding-top: 13%;
}

@media (min-width: 768px) and (max-width: 1023px){
    .product-card__title{
        font-size: 15px;
        line-height: 1.2;
    }
    .product_benefits{
       line-height: 1.2; 
    }
}
.product_benefits{
    /* font-weight: 400;
    font-size: 14px;
    color: #ADADAE; */
    font-family: 'proximanova-regular';
    padding-top: 7px;
    text-transform: lowercase;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    color: #2f4775;
}
.product-card__title {
    font-size: 25px;
    line-height: 1.2;
    color: #2F4775 !important;
    font-family: "BrownStd-Bold";
}
.product-card__details .product-card__price-item{
    color: #2F4775;
}
.product-card__details .product-card__price-item-old{
    color: #97a3ba;
}

.product-card__details .product-card__price-item, 
.product-card__details .product-card__price-item-old {    
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    font-family: "proximanovaexcn-semibold";
}
@media(max-width: 1024px){
    .product-card__title{
        font-size: 20px;
    }
    .product-card__details .product-card__price-item{
        font-size: 20px;
    }
    .product-card__details .product-card__price-item-old{
        font-size: 20px;
    }
}
.product_featured_tag{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    background: #2F4775;
    padding: var(--grid-product-badge-padding);
    border-radius: 50px;
    margin-bottom: 8px;
    font-family: 'proximanova-regular';
}
.product-card__price-item {
    color: #000;
    font-size: 16px
}

.mobile-collection-img{
    display: none;
}  

@media (max-width: 767px){
    .product-card__price-item {
        font-size: 16px;
    }
}
@media (max-width: 425px){
    .product-card__price-item {
        font-size: 12px;
    }
    .desktop-collection-img{
        display: none;
    }
    .mobile-collection-img{
        display: block;
    }
}
.product-card-hover-wrapper {
    padding: 3.5rem 2.5rem;
    position: relative;
}

.product-card-hover-wrapper h6 {
    border-bottom: 1px solid;
    line-height: 1.5;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    white-space: nowrap;
    font-size: 16px;
    display: flex;
    align-items: center;
    column-gap: 5px;    
    flex-wrap: wrap;
    font-family: 'BrownStd-Bold';
}

.product-card-hover-wrapper p {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-family: 'proximanova-regular';
}
.product-card-badge.product-card-badge--sale{
    font-family: 'BrownStd-Bold';
    color: #2F4775;
}
.product-card-hover-wrapper .card-icon-wrapper {
    position: absolute;
    bottom: -2em;
    right: -2em;
    background: rgb(255, 255, 255, 50%);
    width: 175px;
    height: 175px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.product-card-hover-wrapper .card-icon-wrapper img {
    height: 75px;
    width: 75px;
    object-fit: contain;
    position: absolute;
    bottom: 3.5em;
    z-index: 999;
    right: 3.5em;
}

@media screen and (max-width: 1023px){
    .product-card__carousel {
        opacity: 1;
    }
    .product-card--show-secondary-media:hover .product-card__img[data-secondary-media] {
        opacity: 0;
    }
    .product-card--show-secondary-media:hover .product-card__img[data-main-media]{
        opacity: 1 !important;
    }
}


@media screen and (max-width: 1439px){
    .product-card-hover-wrapper {
        padding: 1rem 1rem;
    }

    .product-card-hover-wrapper h6 {
        margin-bottom: 5px;
    }
    .product-card-hover-wrapper .card-icon-wrapper {
        width: 90px;
        height: 90px;
    }
    
    .product-card-hover-wrapper .card-icon-wrapper img {
        height: 40px;
        width: 40px;
        bottom: 3.5rem;
        right: 3.5rem;
    }
}

@media screen and (min-width: 1439px) and (max-width: 1650px){
    .product-card-hover-wrapper .card-icon-wrapper {
        width: 120px;
        height: 120px;
    }
    
    .product-card-hover-wrapper .card-icon-wrapper img {
        height: 60px;
        width: 60px;
        bottom: 2.5em;
        right: 2.5em;
    }
}

.pro-heading-padding{
    padding-top: 21px;
}

@media screen and (min-width: 768px) and (max-width: 1016px){
    .collection__card-grid {
        grid-template-columns: repeat(var(--gsc-columns),1fr);
    }
}

.shop__products-grid-wrap .tab_header {
    margin-bottom: 24px;
    padding: 26px 42px;
    border-radius: 40px;
    border: 1px solid #B9B9B9;
    width: fit-content;
}
.shop__products-grid-wrap .tab_header .filters_card_child {
    display: flex;
    gap: 36px;
}
.shop__products-grid-wrap .tab_header .filters_card_child .filters_switch {
    color: #97A3BA;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    text-decoration-line: none;
}
.shop__products-grid-wrap .tab_header .filters_card_child .filters_switch:hover {
    color: #2F4775;
}
.shop__products-grid-wrap .tab_header .filters_card_child .filters_switch.is_active  {
    color: #2F4775;
    text-decoration-line: underline;
}
@media screen and (max-width: 768px) {
    .shop__products-grid-wrap .tab_header {
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 425px) {
    .shop__products-grid-wrap .tab_header {
        padding: 26px 15px;
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        width: 100%;
    }
    .shop__products-grid-wrap .tab_header .filters_card_child {
        gap: 16px;
        justify-content: space-around;
    }
}

@media screen and (min-width: 768px) {
    .shop__products {
        margin-top: -2rem;
    }
}
.section_collection_header {
    display: flex;
    justify-content: space-between;
}
.collection__read-more-link span.link__text:before {
    background: #2F4775;
}
.collection__read-more-link {    
    font-family: 'proximanova-semibold';    
    letter-spacing: 0em;
    text-align: left;
    padding: 10px 10px 10px 50px;
    z-index: 1;
    height: fit-content;
    background-color: #fff;
}
.link__text:before {
    width: 100%;
    height: 0.2rem;
    background: #2f4775;
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
}
.bundle_section_seperation {
    width: 50vw;
}
@media screen and (max-width: 768px) {
    .section_collection_header {
        flex-direction: column;
        align-items: center;
    }
    .bundle_section_seperation {
        width: 100vw;
    }
    .collection__read-more-link {
        padding: 0 10px 32px 10px;
    }
    .collection__read-more-link:hover .link__text:before {
        left: 0;
    }
}

.product-card-badge{
    --gsc-product-card-badge-font-size: 10px;
    padding:0.2rem 0.6rem;
}
    @media screen  and (min-width:1024px){ 
        .product-card-badge{
            --gsc-product-card-badge-font-size: 1.3rem;
            padding:0.4rem 0.8rem;
        }
    }
   

    @media screen  and (min-width:1024px){
        .product-card__badges{
            flex-flow: row;
            column-gap: 0.8rem;
    }
}