/*!******************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/common-imports.scss ***!
  \******************************************************************************************************************************************************************************************************************************/
:root {
  --base-margin: 20px;
  --grid-row-gap: 10px;
  --grid-row-gap-large: 20px;
  --section-content-margin: 16px;
  --section-margin: 25px;
  --section-padding:25px;
  --section-heading-margin: 10px;
  --grid-column-gap: 10px;
  --header-padding: 10px;
  --nav-vertical-padding: 15px;
  --grid-product-badge-padding: 4px 12px;
  --setion-heading-padding: 30px;
  --setion-top-padding:25px;
}
@media (min-width: 768px) {
  :root {
    --grid-column-gap: 20px;
    --grid-row-gap: 20px;
    --header-padding: 18px;
    --base-margin: 40px;
    --heading-bottom-padding:15px;
  }
}
@media (min-width: 1024px) {
  :root {
    --base-margin: 48px;
    --section-content-margin: 20px;
    --section-margin: 40px;
    --section-padding:40px;
    --section-heading-margin: 20px;
    --grid-row-gap-large: 20px;
    --button-padding: 12px 22px;
  }
}

.button--primary {
  background-color: #2F4775;
  color: #fff;
  padding: var(--button-padding);
}
.button--primary:hover {
  opacity: 0.8;
}
.button--secondary {
  background-color: #fff;
  color: #2F4775;
  padding: var(--button-padding);
}
.button--secondary:hover {
  background-color: #EAEDF1;
}

.needsclick {
  min-height: 0 !important;
}
.section-header__wrapper {
  padding-bottom: 25px;
  padding-bottom: var(--section-padding);
}
.section-header__content {
  max-width: 670px;
  margin: 0 auto;
}
.section-header__title {
  font-family: "proximanova-regular";
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  padding-bottom: 20px;
  font-family: var(--secondary-font-family);
}
@media (min-width: 1440px) {
  .section-header__title {
    font-family: "BrownStd-Bold";
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
  }
}
.section-header__text {
  font-family: "proximanova-regular";
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  font-family: var(--secondary-font-family);
}
@media (min-width: 1440px) {
  .section-header__text {
    font-family: "proximanova-regular";
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    font-family: var(--secondary-font-family);
  }
}
