@font-face {
    font-family: "BrownStd-Regular";    
    src: url('https://cdn.shopify.com/s/files/1/0436/8993/5006/files/BrownStd-Regular.eot'); /* IE9 Compat Modes */
    src:url('https://cdn.shopify.com/s/files/1/0436/8993/5006/files/BrownStd-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('https://cdn.shopify.com/s/files/1/0436/8993/5006/files/BrownStd-Regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('https://cdn.shopify.com/s/files/1/0436/8993/5006/files/BrownStd-Regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('https://cdn.shopify.com/s/files/1/0436/8993/5006/files/BrownStd-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'BrownStd-Bold';
    src: url('https://cdn.shopify.com/s/files/1/0436/8993/5006/files/BrownStd-Bold.eot'); /* IE9 Compat Modes */
    src:url('https://cdn.shopify.com/s/files/1/0436/8993/5006/files/BrownStd-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('https://cdn.shopify.com/s/files/1/0436/8993/5006/files/BrownStd-Bold.woff2') format('woff2'), /* Super Modern Browsers */
        url('https://cdn.shopify.com/s/files/1/0436/8993/5006/files/BrownStd-Bold.woff') format('woff'), /* Pretty Modern Browsers */
        url('https://cdn.shopify.com/s/files/1/0436/8993/5006/files/BrownStd-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

p, a, li, .rtl p, .caption, .rte, label, input, textarea, .product-card__price-item {
    font-family: "BrownStd-Regular" !important;    
}
h1, h2, h3, h4, h5, h6, .h0, .h1, .h2, .h3, .h4, .h5, .h6, .h7{
    font-family: 'BrownStd-Bold' !important;
}
.btn, a.product-card__title, .footer__title, b, strong{
    font-family: 'BrownStd-Bold' !important;
}
.dropdown__item, .dropdown__toggle-label{
    font-family: "BrownStd-Regular" !important; 
} 

.decorated_heading{
    display: inline-block;
    position: relative;
    z-index: 1;
}
.decorated_heading:after{
    display: block;
    position: absolute;
    width: calc(100% + 0.25em);
    height: 44%;
    bottom: 2px;
    left: 50%;
    z-index: -1;
    background-image: url('https://cdn.shopify.com/s/files/1/0436/8993/5006/files/decorated_bg_color.svg');
    transform: translate(-50%);
    content: "";
}
.header__dropdown-toggle .header__item div {
    padding-left: 5px;
    margin-top: 4px;
}
.header__item{
    color: #000000;
}
.drawer-menu__list-title{
    border-bottom: 1px solid #EBEBEB;
}
.drawer-menu__list-title-body{
    text-transform: capitalize;
}
.drawer-menu__list-title-label {
    font-size: 24px;
    font-weight: 400;
}
.drawer-menu__list-body{
    margin: 3.2rem auto 1rem;
}

.drawer-menu__list-body .drawer-menu__menu-item {
    color: #000000;
    font-size: 20px;
    font-family: "BrownStd-Regular";
}
.drawer-menu__mega-menu-wrapper .mega-menu__block--spaced {
    padding: 15px;
}
.header__dropdown-toggle[data-aria-expanded="true"] svg{
    transform: rotate(180deg);
    transition: transform .2s ease-in-out;
}
.header__dropdown-menu--with-mega-menu .image-block__content-wrap{
    padding: 2.5rem;
}
.shopify-section-header[desktop-sticky][scrolled] .header {
    opacity: 0.9;
}
.header__cart-icon .cart-count{
    background-color: #EE5C4C;
}
@media screen and (min-width: 1016px){
    .header__menu-item-wrap[data-aria-expanded=true] .header__menu-item, .header__menu-item:hover, .header__menu-item.active {
        background: #FAF5EF;
    }
}
@media screen and (min-width: 1016px) and (max-width: 1098px){
    .header__nav .header__item {
        padding: 0 1.4rem 2rem;
    }
}
.shopify-section-header[mobile-sticky][aria-hidden=true] {
    transform: unset;
}
.header__menu--inside-full-width-dropdown{
    height: 260px;
    overflow-y: scroll;
}

/* Best seller css here*/
.collection__header{
    position: relative;
    align-items: center;
}
.collection-list .collection-list__header.collection-list__header--center{
    justify-content: center;
}
.collection-list .collection-list__header{
    display: flex;
    align-items: center;
    position: relative;
    
}
.view-btn.shop_all{
    position: absolute;
    right: 0;
    display: flex;
}

@media(max-width:540px){
    .view-btn.shop_all{
        top:60px;
        transform: translate(-150%);
    }
}

.benefit-text{
    text-transform: uppercase;
    font-style: normal;
    font-size: 20px;
}

@media (max-width:520px) {
    .benefit-text{
        font-size: 18px;
    }
}

.collection-list .carousel-btn,
.collection-text .carousel-btn,
.collection .carousel-btn{
    background-color: #EE5C4C;
    color: #FFFFFF;
}
@media (min-width:768px) {
    .collection-list .carousel-btn:not([disabled]):hover,
    .collection-text .carousel-btn:not([disabled]):hover,
    .collection .carousel-btn:not([disabled]):hover{
        background-color: #EE5C4C;
        opacity: 0.8;
    }

    .section-search--sidebar {
        position: sticky;
        top: 80px;
        z-index: 9;
    }
}

.cart-items__params, .cart-item__price-item, .accordeon-plus__btn{
    font-family: 'BrownStd-Bold';
}

.cart-items__product-count, .subtotal__tax-note{
    font-family: 'BrownStd-Regular';
}


.footer__block .social-list__item-link-icon{
    width: 2.2rem;
    height: 2.2rem;
}
.footer__block .footer__text, .footer__block .footer__menu-item{
    font-size: var(--gsc-fz-11);
}