@font-face {
    font-family: "BrownStd-Regular";    
    src: url('https://cdn.shopify.com/s/files/1/0436/8993/5006/files/BrownStd-Regular.eot'); /* IE9 Compat Modes */
    src:url('https://cdn.shopify.com/s/files/1/0436/8993/5006/files/BrownStd-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('https://cdn.shopify.com/s/files/1/0436/8993/5006/files/BrownStd-Regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('https://cdn.shopify.com/s/files/1/0436/8993/5006/files/BrownStd-Regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('https://cdn.shopify.com/s/files/1/0436/8993/5006/files/BrownStd-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'BrownStd-Bold';
    src: url('https://cdn.shopify.com/s/files/1/0436/8993/5006/files/BrownStd-Bold.eot'); /* IE9 Compat Modes */
    src:url('https://cdn.shopify.com/s/files/1/0436/8993/5006/files/BrownStd-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('https://cdn.shopify.com/s/files/1/0436/8993/5006/files/BrownStd-Bold.woff2') format('woff2'), /* Super Modern Browsers */
        url('https://cdn.shopify.com/s/files/1/0436/8993/5006/files/BrownStd-Bold.woff') format('woff'), /* Pretty Modern Browsers */
        url('https://cdn.shopify.com/s/files/1/0436/8993/5006/files/BrownStd-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

p, a, li, .rtl p, .caption, .rte, label, input, textarea, .product-card__price-item {
    font-family: "BrownStd-Regular" !important;    
}
h1, h2, h3, h4, h5, h6, .h0, .h1, .h2, .h3, .h4, .h5, .h6, .h7{
    font-family: 'BrownStd-Bold' !important;
}
.btn, a.product-card__title, .footer__title, b, strong{
    font-family: 'BrownStd-Bold' !important;
}
.dropdown__item, .dropdown__toggle-label{
    font-family: "BrownStd-Regular" !important; 
} 

.decorated_heading{
    display: inline-block;
    position: relative;
    z-index: 1;
}
.decorated_heading:after{
    display: block;
    position: absolute;
    width: calc(100% + 0.25em);
    height: 44%;
    bottom: 2px;
    left: 50%;
    z-index: -1;
    background-image: url('https://cdn.shopify.com/s/files/1/0436/8993/5006/files/decorated_bg_color.svg');
    transform: translate(-50%);
    content: "";
}

.header__dropdown-toggle .header__item div {
    padding-left: 5px;
    margin-top: 4px;
}
.header__item{
    color: #000000;
}
.drawer-menu__list-title{
    border-bottom: 1px solid #EBEBEB;
}
.drawer-menu__list-title-body{
    text-transform: capitalize;
}
.drawer-menu__list-title-label {
    font-size: 24px;
    font-weight: 400;
}
.drawer-menu__list-body{
    margin: 3.2rem auto 1rem;
}

.drawer-menu__list-body .drawer-menu__menu-item {
    color: #000000;
    font-size: 20px;
    font-family: "BrownStd-Regular";
}
.drawer-menu__mega-menu-wrapper .mega-menu__block--spaced {
    padding: 15px;
}
.header__dropdown-toggle[data-aria-expanded="true"] svg{
    transform: rotate(180deg);
    transition: transform .2s ease-in-out;
}
.header__dropdown-menu--with-mega-menu .image-block__content-wrap{
    padding: 2.5rem;
}
.shopify-section-header[desktop-sticky][scrolled] .header {
    backdrop-filter: blur(10px);
    background: rgb(255, 255, 255, 0.7);
}
.shopify-section-header[desktop-sticky][scrolled] .header__inner-background {
    background-color: transparent;
}
.header__cart-icon .cart-count{
    background-color: #EE5C4C;
}
@media screen and (min-width: 1016px){
    .header__menu-item-wrap[data-aria-expanded=true] .header__menu-item, .header__menu-item:hover, .header__menu-item.active {
        background: #FAF5EF;
    }
}
@media screen and (min-width: 1016px) and (max-width: 1098px){
    .header__nav .header__item {
        padding: 0 1.4rem 2rem;
    }
}
@media screen and (max-width: 360px){
    .cartDropdownParent{
        display: block;
    }
}
.shopify-section-header[mobile-sticky][aria-hidden=true] {
    transform: unset;
}
.header__menu--inside-full-width-dropdown{
    height: 100%;
    /* overflow-y: scroll; */
}
.header__menu--inside-full-width-dropdown::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #555555;
	background-color: #F5F5F5;
}
.header__menu--inside-full-width-dropdown::-webkit-scrollbar{
        width: 4px;
}
.header__menu--inside-full-width-dropdown::-webkit-scrollbar-thumb{
	background-color: #555555;
	border: 0.5px solid #555555;
}

/* Best seller css here*/
.collection__header{
    position: relative;
    align-items: center;
}
.collection-list .collection-list__header.collection-list__header--center{
    justify-content: center;
}
.collection-list .collection-list__header{
    display: flex;
    align-items: center;
    position: relative;
    
}
.view-btn.shop_all{
    position: absolute;
    right: 0;
    display: flex;
}

@media(max-width:540px){
    .view-btn.shop_all{
        top:60px;
        transform: translate(-150%);
    }
}

@media(max-width:375px){
    .view-btn.shop_all{
        transform: translate(-135%);
    }
}

@media(max-width:320px){
    .view-btn.shop_all{
        transform: translate(-115%);
    }
}

.benefit-text{
    text-transform: uppercase;
    font-style: normal;
    font-size: 20px;
}

@media (max-width:520px) {
    .benefit-text{
        font-size: 18px;
    }
}

.collection-list .carousel-btn,
.collection-text .carousel-btn,
.collection .carousel-btn{
    background-color: #EE5C4C;
    color: #FFFFFF;
}
@media (min-width:768px) {
    .collection-list .carousel-btn:not([disabled]):hover,
    .collection-text .carousel-btn:not([disabled]):hover,
    .collection .carousel-btn:not([disabled]):hover{
        background-color: #EE5C4C;
        opacity: 0.8;
    }

    .section-search--sidebar {
        position: sticky;
        top: 80px;
        z-index: 9;
    }
    .product_quantity_button_dummy{
        display: none;
    }
    /* Product Price */
    .product-price-wrapper {
        /* display: none; */
        font-family: "BrownStd-Regular";
        font-size: 16px;
    }
}

/* body[scroll-y-offf] {
    overflow: hidden;
} */

.cart-items__params, .cart-item__price-item, .accordeon-plus__btn{
    font-family: 'BrownStd-Bold';
}

.cart-items__product-count, .subtotal__tax-note{
    font-family: 'BrownStd-Regular';
}


.footer__block .social-list__item-link-icon{
    width: 2.2rem;
    height: 2.2rem;
}
.footer__block .footer__text, .footer__block .footer__menu-item{
    font-size: var(--gsc-fz-11);
}

.shopify-block.shopify-app-block.recharge-subscription-widget .rc-subscription-details {
    display: none !important;
}
.shopify-block.shopify-app-block.recharge-subscription-widget .rc-widget .rc-template__radio .onetime-radio {
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 20px;
    margin-top: 16px;
}
.shopify-block.shopify-app-block.recharge-subscription-widget .rc-widget .rc-template__radio .rc-radio--active.onetime-radio{
    border: 2px solid #000000;
}
.shopify-block.shopify-app-block.recharge-subscription-widget .rc-widget .rc-template__radio .rc-radio--active.subscription-radio{
    border: 2px solid #000000;
    border-bottom: 0;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 0px;
}
.shopify-block.shopify-app-block.recharge-subscription-widget .rc-widget .rc-template__radio .subscription-radio:before {
    background-color: #EE5C4C;
    color: #eee;
    content: "★ Best Value";
    top: -36px;    
    position: absolute;
    text-align: center;
    font-size: 14px;
    padding: 9px 12px;
}
.shopify-block.shopify-app-block.recharge-subscription-widget .rc-widget .rc-template__radio .subscription-radio{
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 20px;
    position: relative;
}
.shopify-block.shopify-app-block.recharge-subscription-widget .rc-widget .rc-template__radio .rc-selling-plans{
    border: 2px solid #000000;
    border-top: 0;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.shopify-block.shopify-app-block.recharge-subscription-widget .rc-widget .rc-template__radio .rc-selling-plans .rc-selling-plans-dropdown__select{
    border: 0 !important;
    width: fit-content;
    padding-right: 0;
}
.shopify-block.shopify-app-block.recharge-subscription-widget .rc-widget .rc-template__radio .rc-selling-plans .rc-selling-plans-dropdown__select:focus{
    outline: none;
}

.shopify-block.shopify-app-block.recharge-subscription-widget .rc-widget .rc-template__radio .rc-radio .rc-radio__label{
    text-transform: uppercase;
    font-size: 16px;
}
@media screen and (max-width:424px){    
    .shopify-block.shopify-app-block.recharge-subscription-widget .rc-widget .rc-template__radio .rc-radio .rc-radio__label{
        font-size: 15px;
    }
}
@media screen and (max-width:320px){ 
    .shopify-block.shopify-app-block.recharge-subscription-widget .rc-widget .rc-template__radio .rc-radio .rc-radio__label{
        font-size: 14px;
        line-height: 1.2;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .shopify-block.shopify-app-block.recharge-subscription-widget .rc-widget .rc-template__radio .rc-radio .rc-radio__label{
        font-size: 14px;
    }

    .shape--nature .image-block__content-wrap{
        padding: 2rem;
    }

}
.shopify-block.shopify-app-block.recharge-subscription-widget .rc-widget .rc-template__radio .rc-selling-plans .rc-selling-plans-single{
    font-family: "BrownStd-Regular";
}
@media screen and (min-width:1200px){
    .shopify-block.shopify-app-block.recharge-subscription-widget .rc-widget .rc-template__radio .rc-selling-plans .rc-selling-plans-single{
        padding-left: 15px;
    }
}

@media screen and (max-width: 767px) {
    body[is-product-form-button-fixed] .shopify-block.shopify-app-block.recharge-subscription-widget{        
        /* -webkit-transform: translateY(0%);
        transform: translateY(0%); */
        bottom: 8%;
        transition: all .15s;
    }
    .shopify-block.shopify-app-block.recharge-subscription-widget{
        z-index: 10;
        width: 100%;
        background: var(--gsc-white-color-100);
        padding: 1.6rem 2.4rem;
        padding-top: 40px !important ;
        transition: -webkit-transform .2s ease-in-out,-webkit-transform .2s ease-in-out,transform .2s ease-in-out;
        display: block;
        position: fixed;
        bottom: 0%;
        left: 0;
        -webkit-transform: translateY(120%);
        transform: translateY(120%);
        margin-bottom: 1.6rem;
    }
    body[is-product-form-button-fixed] .product_quantity_button.transitionButton{        
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    .product_quantity_button{
        z-index: 10;
        width: 100%;
        background: var(--gsc-white-color-100);
        padding: 1.6rem 2.4rem;
        transition: -webkit-transform .2s ease-in-out,-webkit-transform .2s ease-in-out,transform .2s ease-in-out;
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    .product-form__mobile-sticky-button[visible]{
        display: none;
    }
    /* Custom App Backdrop Styles */
    body[is-product-form-button-fixed] .custom_app_backdrop.customApp_Styles {
        height: 100%;
        position: fixed;
        bottom: 0;
        top: 68px;
        width: 100%;
        z-index: 9;
        left: 0;
        padding: 0;
        margin: 0;
        background-color: rgba(0, 0, 0, .5);
    }
    .shopify-section-header {
        z-index: 15;
    }

    back-to-top-button .back-to-top-button{
        display: none;
    }

    #smile-ui-lite-launcher-frame-container , .smile-launcher-frame-container , .smile-panel-frame-container{
        bottom: 80px !important;
    }
}

@media(min-width:320px) and (max-width:520px){
    .drawer-menu__mega-menu-wrapper .drawer-menu__mega-menu .image-block .shape--nature{
        padding-bottom: 50%;
    }
}
@media(min-width:521px) and (max-width:767px){
    .drawer-menu__mega-menu-wrapper .drawer-menu__mega-menu .image-block .shape--nature{
        padding-bottom: 30%;
    }
}

@media screen and (max-width: 1199px){
    .shopify-block.shopify-app-block.recharge-subscription-widget .rc-widget .rc-template__radio .rc-selling-plans .rc-selling-plans-single {
        padding-left: 15px;
        font-size: 14px;
    }
}
.rc-radio input[type=radio] {
    position: absolute;
    opacity: 0;
  }
.rc-radio input[type=radio] + .rc-radio__label:before {
    content: "";    
    border-radius: 100%;
    border: 1px solid #000000;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    position: relative;
    top: 0.3em;
    margin-right: 0.6em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
    vertical-align: unset;
}
.rc-radio input[type=radio]:checked + .rc-radio__label:before {
    background-color: #EE5C4C;
    box-shadow: inset 0 0 0 4px #ffffff;
}
.rc-radio input[type=radio]:focus + .rc-radio__label:before {
    outline: none;
    border-color: #EE5C4C;
}
.rc-radio input[type=radio]:disabled + .rc-radio__label:before {
    box-shadow: inset 0 0 0 4px #ffffff;
    border-color: #b4b4b4;
    background: #b4b4b4;
}
.rc-radio input[type=radio] + .rc-radio__label:empty:before {
    margin-right: 0;
}

/* Product Dummy Button */
.product_quantity_button_dummy{
    transform: translateY(100%);
}
body[is-product-form-button-fixed] .product_quantity_button_dummy{
    width: 100%;
    padding: 1.6rem 2.4rem;
    height: 82px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    transition: transform .2s ease-in-out;
    transform: translateY(0%);
    background-color: white;
    cursor: pointer;
}
.product_quantity_button_dummy div{
    font-family: "BrownStd-Regular";
    background: #EE5C4C;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
body[is-product-form-button-fixed] .product_quantity_button_dummy.dummy_product_button {
    transform: translate(0 , 100%);
}

body[is-product-form-button-fixed] .shopify-block.shopify-app-block.recharge-subscription-widget.product_transformZero{
    transform: translateY(0%) !important;
}
.product-price-wrapper,
.cart-free-shipping-bar--sidebar-version .cart-free-shipping-bar__title{
    font-family: "BrownStd-Regular";
}

button.btn.btn--lg.btn--solid.sidebar-cart__warning-button{
    text-transform: uppercase;
    pointer-events: all;
}

.sidebar-cart__warning-button-wrapper a{
    width: 100%;
}
.newsletter__input-btn{
    background-color: #EE5C4C !important;
}

/* Predictive Search */
.search-sidebar__footer-button,
.sidebar-cart__warning-button{
    background-color: #EE5C4C !important;
}

.okeReviews[data-oke-container] .oke-button:not(.oke-is-loading):not(.oke-is-active):hover,
div.okeReviews .oke-button:not(.oke-is-loading):not(.oke-is-active):hover{
    background-color:rgba(238, 92, 76, .8) !important;
    color: white !important;
    box-shadow:0 0 0 1px rgba(238, 92, 76, 1) !important;
}
.okeReviews[data-oke-container] .oke-w-writeReview:hover:before,
div.okeReviews .oke-w-writeReview:hover:before{
    color: white !important;
}
.no_opactiyOnHover:hover .product-card__img[data-main-media]{
    opacity: 1 !important;
}
.drawer-menu__settings{
    font-family: "BrownStd-Regular";
}

.selling_plan_label-small {
    color: #ADADAE;
    text-transform: uppercase;
    font-family: "BrownStd-Regular";
    letter-spacing: 1px;
    flex-direction: column;
}

.selling_plan_label-action subscription-btn {
    color: #EA6852;
    font-family: "BrownStd-Regular";
    background-color: #FFF;
    border: 0;
    padding: 0;
    margin-top: 5px;
    cursor: pointer;
    text-decoration: underline;
}

.cart-item__details {
    align-self: stretch;
}

.cart-item__details .cart-item__link, .cart-item__details .cart-item__link > a {
    height: 100%;
}
@media(max-width:320px){
    .cart-item__details .cart-item__link, .cart-item__details .cart-item__link > a {
        height: auto;
    }
}

/* Cart Subscription */
.cart-item__parentElement{
    position: relative;
}

.subscriptiomButton_update{
    position: absolute;
    right: 0;
    z-index: 100;
    background: white;
    border: 1px solid #d9d9d9;
    top: 130%;
}

.subscriptiomButton_update subscription-btn{
    padding: 0 10px;
    margin: 0;
    height: 100%;
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

.subscriptiomButton_update subscription-btn svg{
    margin: 0;
    padding: 0;
    display: inline-block;
}

.subscriptiomButton_update subscription-btn:not(:last-of-type){
    border-bottom: 1px solid #d9d9d9;
}

.cartDropdownParent{
    cursor: pointer;
}

.cartDropdownParent.staticState svg{
    transform: rotate(180deg);
    transition: all .25s;
}
.cartDropdownParent svg{
    display: inline;
    vertical-align: bottom;
    width: 20px;
    height: 23px;
    transition: all .25s;
}
.cartDropdownParent .cartDropwdownText {
    border-bottom: 2px solid #000;
}
.showDropdown {
    visibility: hidden;
    height: 0;
}
.cart-item{
    overflow: visible !important;
}

.subscriptiomButton_update.showDropdown .subscription-btn_icon{
    visibility: hidden;
    display: none;
}
.subscriptiomButton_update.showDropdown .selected .subscription-btn_icon {
    display: none;
    visibility: hidden;
}

.subscriptiomButton_update .subscription-btn_icon{
    visibility: hidden;
    display: inline-block;
}
.subscriptiomButton_update .selected .subscription-btn_icon{
    visibility: visible;
    display: inline-block;
}

/* the below code is for header non-transperent when click on hamburger on mobile*/
.drawer-menu[data-aria-expanded="true"] + .header {
    background: #fff !important;
}

.mega-menu .mega-menu__inner-container {
    column-gap: 50px;
}
@media(min-width:1440px){
    .mega-menu .mega-menu__inner-container {
        column-gap: 151px;
    }    
}
@media(min-width: 1024px) and (max-width: 1439px){
    .mega-menu .mega-menu__inner-container .image-block__content-wrap .image-block__content .image-block__title{
        font-size: 24px;
        line-height: 1.2;
    }
}

.childrenmenu-border{
    border: 1px solid #efefef;
    padding: 0;
}

.mega-menu__nav~.mega-menu__block--spaced{
    padding: 3.2rem 4.8rem 3.2rem 0;
}

.product-card__img{
    object-fit: contain;
}

.header__container:has(.header__dropdown-toggle[data-aria-expanded="true"]){
    background: #fff !important;
}

body::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

body::-webkit-scrollbar{
    width: 0px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb{
    background-color: grey;
}

body:has(#sidebar-component-for-cart[data-aria-expanded="true"]) {
    overflow: hidden;
}

.collection-hero{
    background-color: rgba(238, 92, 76, 1) ;
}

.back-to-top-button{
    bottom: 79px !important;
}

#smile-ui-lite-launcher-frame-container , .smile-launcher-frame-container , .smile-panel-frame-container{
    right: 0;
    left: 16px;
}

@media screen and (min-width: 768px){
    .scroll-styling::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    .scroll-styling::-webkit-scrollbar{
        height: 0px ;
        background-color: #F5F5F5;
    }

    .scroll-styling::-webkit-scrollbar-thumb{
        background-color: grey;
    }
}

.qMWqRG_videoContainer {
    background: none !important;
}

@media(max-width:425px){
    .qMWqRG_videosContainer{
        justify-content: unset !important;
    }
}

.sw-instagram-container .sw-instagram-header-title {
    margin-top: 8px;
}

.collection-hero .collection-hero__content .collection-hero__title{
    color: white;
    text-shadow: 4px 4px 5px #000000;
}

@media(max-width:767px) {
    .articles__container .articles__header .articles__tags {
        justify-content: center;
    }
}

.bundles_page_tabChains .content_parent_position_relative {
    text-transform: uppercase;
}

@media screen and (min-width: 1350px) {
    .default_product_custom_class .product-content-tab {
        margin-bottom: 40px;
    }
}

.bundles_procuct_pageMain .product-content-tab__content {
    position: relative;
}

.product-content-tab__text .product-description_internal {
    overflow-y: auto;
}

@media screen and (max-width: 480px) {
    .product_upsell_container .card-carousel__dots-carousel {
        bottom: -10px;
        margin-top: 0;
        max-width: 18rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
}
.card-carousel__dots-carousel .dots-carousel__container {
    justify-content: center;
}

@media screen and (max-width: 768px) {
    #chat-button {
        bottom: 15px!important;
    }

    #smile-ui-lite-launcher-frame-container, .smile-launcher-frame-container, .smile-panel-frame-container {
        bottom: 20px!important;
    }
}

@media screen and (max-width: 380px) {
    .image-banner__content--mobile .image-banner__btns .btn {
        padding: 1.2rem 3.8rem;
    }
}

#chat-button {
    bottom: 15px!important;
}

.hamburger--open #smile-ui-lite-container {
    display: none !important;
}

.hamburger--open #chat-button {
    display: none !important;
}

.pb_container .pb_content_continer .pb_content_inner p::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

.pb_container .pb_content_continer .pb_content_inner p::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

@media screen and (min-width: 768px) and (max-width: 1200px){
    .pb_container .pb_content_continer {
        padding: 30px 20px 30px 22px !important;
    }   
    .pb_container .pb_content_continer .pb_content_inner p::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 5px;
    }
    .pb_container .pb_content_continer .pb_content_inner p {
        max-height: 60px;
    }
}

.imagesOnly_container.section-spacing::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 4px;
    position: absolute;
    bottom: 10px;
}

.imagesOnly_container.section-spacing::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.upsell_main_title_key .card-carousel__carousel-btn {
    display: none;
}
 
.btn--with-small-horizontal-padding {
    padding-right: 1rem;
    padding-left: 1rem;
}

.imagesOnly_parent {
    padding-bottom: 10px;
}

.imagesOnly_parent::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 4px;
    position: absolute;
    bottom: 10px;
}

.imagesOnly_parent::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

body.hamburger--open[scroll-y-offf] {
    overflow: hidden;
}

#dynamic-checkout-cart .shopify-cleanslate div span div {
    text-align: left !important;
    width: 100% !important;
}

@media (max-width: 425px) {
    .subtotal .subtotal__content {
        flex-flow: column !important;
    }
    .subtotal__content div:first-child {
        width: 100% !important;
    }
}

.cart-count {
    font-size: 1rem;
    line-height: 0rem;
    font-weight: 100;
}

@media screen and (min-width: 768px){
    .cart {
        padding: 2rem 0 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .cart {
        padding: 1rem 0 2.4rem;
    }
}

.saw-extra-note br {
    display: none;
}

.saw-extra-note {
    line-height: 7rem;
}

.product-card-sale-amount-badge {
    font-weight: 100!important;
}

/* Hidding country selector popup */
.cozy-crd__modal {
    display: none !important;
}

.footer__block .localization-dropdown-wrapper {
    margin-top: 1rem; 
}

.product-price__current-price {
    font-family: BrownStd-Regular!important;
}
@media(max-width: 374px){
    .product-price__current-price {
       font-size: 20px;
    }
}
.product-price__current-price--highlight-sale{
    color: #000;
}
.product-price__old-price--highlight-sale{
    text-decoration-color:  #6E6B86;

}
.cart-notification-popup__body {
    font-family: BrownStd-Regular!important;
}
.float-element{
    top: 100px;
    left: 100px;
}

.footer__block .localization-dropdown-toggle {
    margin: 1rem 0;
    border: 1px solid rgb(52 52 47 / 70%);
    padding: 1rem 1.5rem;
    font-family: BrownStd-Regular;
}

.localization-dropdown__body {
    padding: 0;
    width: auto;
    border: 1px solid rgba(18, 18, 18, 0.1);
    font-family: BrownStd-Regular;
}

.localization-dropdown__item {
    padding: 1.3rem 2.8rem;
    text-align: center;
}

.localization-dropdown {
    width: auto;
}

.cart-notification-popup-item__price {
    gap: 1rem;
}

.oke-sr-count {
    font-family: BrownStd-Regular !important;
}

.rating__star--transparent path {
    fill: rgb(255 165 29 / 0%);
}

@media screen and (min-width: 1380px) {
    .articles__tags {
        justify-content: center !important;
    }
    .articles_justify_flex {
        justify-content: flex-start !important;
    }
    .articles--page .articles__header {
        padding: 0 33px !important;
    }
}
#inforamtionBlockProduct{
    display: none;
    margin-top: 28px;
    margin-bottom: 24px;
}
@media(max-width: 520px){
    #inforamtionBlockProduct{
        margin-top: 20px;
    }
    .product__info-wrapper_custom_pr{
        margin-top: 32px !important;
    }
}
.product-information-tag--solid{
    max-width: fit-content;
    padding: 0.5rem 2.9rem;
}

.cart-item__info_sale_badge{
    height: 100%;
    justify-content: space-around;
}
@media(max-width: 374px){
    .product-information-tag--solid{
        max-width: fit-content;
        padding: 0.5rem 1rem;
    }
}
