/*!***********************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/featured-collection.scss ***!
  \***********************************************************************************************************************************************************************************************************************************/
.product_featured_tag {
  font-weight: 700;
  font-size: 14px;
  color: #fff !important;
  background: #2F4775;
  padding: var(--grid-product-badge-padding) !important;
  border-radius: 50px;
  margin-bottom: 8px;
  font-family: var(--primary-font-family);
}

.product-card__title {
  font-family: "proximanova-regular";
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  color: #2F4775 !important;
  font-family: var(--secondary-font-family);
}

.product_benefits {
  font-family: "proximanova-regular";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: #2F4775;
}

.product-card__details .product-card__price-item {
  font-family: "proximanova-regular";
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  color: #2F4775;
  font-family: var(--primary-alt-semibold-font-family);
}

.product-card__price-item-old {
  font-family: "proximanova-regular";
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  font-family: var(--primary-alt-semibold-font-family) !important;
  color: #97A3BA;
}

.product-card__price-item-old--highlight-sale {
  text-decoration-color: #97A3BA;
}
