.imagesOnly_parent {
    overflow-x: auto;
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.imagesOnly_container.section-spacing{
    overflow: hidden;
}
.imagesOnly_parent .imageText_child{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagesOnly_parent .imageText_child span{
    white-space: normal;
    color: #000;
}
/* Custom Class - images_only_custom_class */
@media screen and (max-width: 767px){
    .images_only_custom_class{
        padding-top: 21px !important;
    }
}