.imagesOnly_parent {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.imagesOnly_container.section-spacing{
    overflow: hidden;
}

/* Custom Class - images_only_custom_class */
@media screen and (max-width: 767px){
    .images_only_custom_class{
        padding-top: 21px !important;
    }
}