.imagesOnly_parent {
    display: grid;
    grid-auto-flow: column;
    column-gap: 52px;
}
.imagesOnly_container.section-spacing{
    overflow-x: auto;
    overflow-y: hidden;
}
.imagesOnly_parent .imageText_child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 15px;
}
.imagesOnly_parent .imageText_child span{
    white-space: normal;
    color: #000;
    text-align: center;
    font-family: "BrownStd-Regular";
    font-size: 16px;
    width: 100%;
    word-wrap: break-word;
    margin-bottom: auto;
}
/* Custom Class - images_only_custom_class */
@media screen and (max-width: 767px){
    .images_only_custom_class{
        padding-top: 21px !important;
    }
}

@media screen and (max-width: 320px){
    .imagesOnly_parent {
        column-gap: 20px;
    }
}

.mobile_container {
    padding-right: 0;
}