@media(max-width:520px){
    .flex-wrap-imageicon{
        /* height: 6.25rem; */
        width: 12.8rem;
    }
}

@media(max-width:360px){
   .ingredients-database-item .ingredients_content_info h4{
       font-size: 14px;
   }
}

.flex-wrap-imageicon .icon-wrap svg{
    display: inline-block;
}

.flex-wrap-imageicon{
    flex-basis: 20.33%;
}