/*!*************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/landing-page-timeline.scss ***!
  \*************************************************************************************************************************************************************************************************************************************/
.landing-page-timeline {
  --section-header-spacing: 40px;
  max-width: calc(100% - 2 * var(--base-margin));
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: var(--section-padding);
  margin-top: var(--section-margin);
  padding-bottom: var(--section-padding);
  margin-bottom: var(--section-margin);
}
@media (min-width: 768px) {
  .landing-page-timeline {
    --section-header-spacing: 80px;
  }
}
@media (min-width: 1440px) {
  .landing-page-timeline {
    max-width: calc(100% - 2 * var(--base-margin));
  }
}
.landing-page-timeline__content-wrapper {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
}
.landing-page-timeline__content {
  list-style: none;
  border-radius: 12px;
  position: relative;
  padding: 0 12px;
  margin: 0;
}
@media (min-width: 768px) {
  .landing-page-timeline__content {
    padding: 0;
  }
}
.landing-page-timeline__heading .section-header__content {
  max-width: 970px;
}
.landing-page-timeline__heading .section-header__wrapper {
  margin-bottom: var(--section-header-spacing);
}
.landing-page-timeline__content-block {
  list-style: none;
  padding: 0 0 30px 60px;
  border-left: 2px solid #2F4775;
  position: relative;
  margin-left: 10px;
  cursor: default;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}
.landing-page-timeline__content-block:last-child {
  border: 0px;
  padding-bottom: 0;
}
.landing-page-timeline__content-block:before {
  content: "";
  width: 24px;
  height: 24px;
  background: #fff;
  border: 3px solid #2F4775;
  border-radius: 50%;
  position: absolute;
  left: -13px;
  top: 0px;
}
.landing-page-timeline__content-block:hover .landing-page-timeline__content-heading {
  color: #2F4775;
}
.landing-page-timeline__content-block:hover::before {
  background: #2F4775;
}
.landing-page-timeline__content-heading {
  color: #97A3BA;
  font-family: "proximanova-regular";
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  font-family: var(--secondary-alt-font-family);
  line-height: 1;
}
.landing-page-timeline__content-text {
  color: #2F4775;
  margin-top: 10px;
  font-family: "proximanova-regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  line-height: 1.5;
}

.section-header.section-header--timeline-section .section-header__content {
  text-align: center;
}
