/*!***************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/landing-page-image-with-description.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************/
.landing-page-image-with-description {
  max-width: calc(100% - 2 * var(--base-margin));
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media (min-width: 1600px) {
  .landing-page-image-with-description {
    max-width: calc(1680px - 2 * var(--base-margin));
  }
}
.landing-page-image-with-description__wrapper {
  padding-top: var(--section-padding);
  margin-top: var(--section-margin);
}
.landing-page-image-with-description__slide {
  min-width: var(--gsc-slide-width);
}
.landing-page-image-with-description__carousel-btn {
  cursor: pointer;
  padding: 1.2rem 0;
}
.landing-page-image-with-description__carousel-btn[disabled] {
  cursor: not-allowed;
  opacity: 0.35;
}
.landing-page-image-with-description__carousel-btn--desktop-hide {
  display: none;
}
.landing-page-image-with-description__carousel-btn--mobile-hide {
  display: none;
}
@media (min-width: 768px) {
  .landing-page-image-with-description__carousel-btn--mobile-hide {
    display: block;
  }
}
.landing-page-image-with-description .text-image--image-with-description .text-image__wrapper {
  padding: 6px 12px;
}
@media (min-width: 1024px) {
  .landing-page-image-with-description .text-image--image-with-description .text-image__wrapper {
    padding: 0px 40px;
  }
}
.landing-page-image-with-description .text-image--image-with-description .text-image__description {
  margin-top: 8px;
}
.landing-page-image-with-description carousel-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.landing-page-image-with-description carousel-component carousel-btn {
  display: none;
}
@media (min-width: 768px) {
  .landing-page-image-with-description carousel-component carousel-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #2F4775;
    width: 42px;
    height: 42px;
    border-radius: 50px;
  }
}
.landing-page-image-with-description carousel-component .logo-list__chevron {
  color: white;
}

.text-image.text-image--image-with-description {
  text-align: center;
}
