/*!********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/landing-page-image-with-text.scss ***!
  \********************************************************************************************************************************************************************************************************************************************/
.text-image__heading-text {
  font-family: "proximanova-regular";
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  font-family: var(--primary-semibold-font-family);
}
.text-image__description {
  font-family: "proximanova-regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  line-height: 1.4;
}
.landing-page-image-with-text {
  --block-content-spacing: 32px;
  --inner-content-spacing: 5px;
  max-width: calc(100% - 2 * var(--base-margin));
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media (max-width: 1024px) {
  .landing-page-image-with-text {
    --section-spacing: 0;
  }
}
@media (min-width: 1024px) {
  .landing-page-image-with-text {
    --block-content-spacing: 32px;
    --inner-content-spacing: 10px;
  }
}
.landing-page-image-with-text__wrapper {
  padding-top: var(--section-padding);
  margin-top: var(--section-margin);
}
@media (min-width: 1600px) {
  .landing-page-image-with-text {
    max-width: calc(1600px - 2 * var(--base-margin));
  }
}
.landing-page-image-with-text__content-wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: var(--grid-column-gap);
  -webkit-column-gap: var(--grid-column-gap);
     -moz-column-gap: var(--grid-column-gap);
          column-gap: var(--grid-column-gap);
  grid-auto-flow: dense;
  grid-row-gap: var(--grid-row-gap);
  row-gap: var(--grid-row-gap);
}
@media (min-width: 1024px) {
  .landing-page-image-with-text__content-wrapper {
    grid-auto-rows: minmax(100px, auto);
  }
}
@media (min-width: 1440px) {
  .landing-page-image-with-text__content-wrapper {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-column-gap: var(--grid-column-gap);
    -webkit-column-gap: var(--grid-column-gap);
       -moz-column-gap: var(--grid-column-gap);
            column-gap: var(--grid-column-gap);
    grid-auto-flow: dense;
    grid-row-gap: var(--grid-row-gap);
    row-gap: var(--grid-row-gap);
    -webkit-column-gap: 70px;
       -moz-column-gap: 70px;
            column-gap: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 1440px) and (min-width: 1024px) {
  .landing-page-image-with-text__content-wrapper {
    grid-auto-rows: minmax(100px, auto);
  }
}
@media (min-width: 1440px) {
  .landing-page-image-with-text__image {
    grid-column: span 2;
  }
}
.landing-page-image-with-text__textcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--block-content-spacing);
}
@media (min-width: 1440px) {
  .landing-page-image-with-text__textcontent {
    grid-column: span 3;
  }
}
.landing-page-image-with-text__heading--desktop {
  display: none;
}
@media (min-width: 1440px) {
  .landing-page-image-with-text__heading--desktop {
    display: block;
  }
}
.landing-page-image-with-text__heading--mobile {
  display: block;
}
@media (min-width: 1440px) {
  .landing-page-image-with-text__heading--mobile {
    display: none;
  }
}

.text-image--image-with-text .text-image__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: var(--inner-content-spacing);
}

.landing-page-image-with-text .section-header__content p {
  font-family: "proximanova-regular";
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  font-family: var(--secondary-font-family);
}

.text-image--image-with-text .text-image__heading .responsive-image__wrapper {
  width: 50px;
}

.section-header--image-with-text {
  text-align: left;
}
@media (min-width: 768px) {
  .section-header--image-with-text {
    text-align: center;
  }
}
