/*!*****************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/landing-page-main-product.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************/
.landing-page-main-product {
  --column-spacing: 50px;
  --content-spacing: 24px;
  --inner-content-spacing: 16px;
}
@media (min-width: 1024px) {
  .landing-page-main-product {
    --content-spacing: 32px;
    --inner-content-spacing: 24px;
  }
}
.landing-page-main-product__wrapper {
  padding-top: var(--section-padding);
}
@media (min-width: 1024px) {
  .landing-page-main-product__wrapper {
    max-width: calc(100% - 2 * var(--base-margin));
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
@media (min-width: 1024px) and (min-width: 1600px) {
  .landing-page-main-product__wrapper {
    max-width: calc(1680px - 2 * var(--base-margin));
  }
}
.landing-page-main-product__container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: var(--grid-column-gap);
  -webkit-column-gap: var(--grid-column-gap);
     -moz-column-gap: var(--grid-column-gap);
          column-gap: var(--grid-column-gap);
  grid-auto-flow: dense;
  grid-row-gap: var(--grid-row-gap);
  row-gap: var(--grid-row-gap);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 1024px) {
  .landing-page-main-product__container {
    grid-auto-rows: minmax(100px, auto);
  }
}
@media (min-width: 1024px) {
  .landing-page-main-product__container {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-column-gap: var(--grid-column-gap);
    -webkit-column-gap: var(--grid-column-gap);
       -moz-column-gap: var(--grid-column-gap);
            column-gap: var(--grid-column-gap);
    grid-auto-flow: dense;
    grid-row-gap: var(--grid-row-gap);
    row-gap: var(--grid-row-gap);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .landing-page-main-product__container {
    grid-auto-rows: minmax(100px, auto);
  }
}
.landing-page-main-product__carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: span 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1024px) {
  .landing-page-main-product__carousel {
    padding: 0 var(--column-spacing) 0 0;
  }
}
@media (min-width: 1024px) {
  .landing-page-main-product__main-carousel {
    margin-bottom: 20px;
  }
}
.landing-page-main-product__thumbnail-carousel {
  display: none;
}
@media (min-width: 1024px) {
  .landing-page-main-product__thumbnail-carousel {
    display: block;
  }
}
.landing-page-main-product__content {
  margin-top: 8px;
  grid-column: span 3;
}
@media (min-width: 1024px) {
  .landing-page-main-product__content {
    margin-top: 0;
    background: #F9F9FB;
    padding: 54px var(--column-spacing);
  }
}
.landing-page-main-product__reviews {
  line-height: 1;
}
.landing-page-main-product__title {
  font-family: "proximanova-regular";
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  font-family: "BrownStd-Bold";
}
@media (min-width: 1024px) {
  .landing-page-main-product__title {
    font-family: "proximanova-regular";
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    font-family: "BrownStd-Bold";
  }
}
.landing-page-main-product__description_title {
  font-family: "proximanova-regular";
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  font-family: "BrownStd-Bold";
}
@media (min-width: 1024px) {
  .landing-page-main-product__description_title {
    font-family: "proximanova-regular";
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    font-family: "BrownStd-Bold";
  }
}
.landing-page-main-product__description {
  font-family: "proximanova-regular";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}
@media (min-width: 1024px) {
  .landing-page-main-product__description {
    font-family: "proximanova-regular";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
  }
}
.landing-page-main-product__icon-text-wrapper {
  max-width: calc(100% - 2 * var(--base-margin));
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--inner-content-spacing);
}
@media (min-width: 1600px) {
  .landing-page-main-product__icon-text-wrapper {
    max-width: calc(1680px - 2 * var(--base-margin));
  }
}
@media (min-width: 1024px) {
  .landing-page-main-product__icon-text-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
  }
}
.landing-page-main-product__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.landing-page-main-product__tags-list {
  padding: 10px 12px;
  background: #2F4775;
  color: #fff;
  border-radius: 50px;
  font-family: "proximanova-regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}
.landing-page-main-product__banner-teaser {
  background: #2F4775;
}
.landing-page-main-product__text {
  font-size: 16px;
  font-weight: 400;
  font-family: "proximanova-regular";
}
.landing-page-main-product__icon-text-wrapper-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: var(--grid-column-gap);
  text-align: center;
}
@media (min-width: 1024px) {
  .landing-page-main-product__icon-text-wrapper-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    max-width: 110px;
  }
}
.landing-page-main-product__icon .responsive-image__wrapper {
  width: 42px;
  height: 42px;
}
@media (min-width: 1024px) {
  .landing-page-main-product__icon .responsive-image__wrapper {
    width: 60px;
    height: 60px;
  }
}
.landing-page-main-product .swiper-thumbs .swiper-slide .responsive-image__wrapper {
  border: 2px solid transparent;
}
.landing-page-main-product .swiper-thumbs .swiper-slide-thumb-active .responsive-image__wrapper {
  border-color: #2F4775;
}
.landing-page-main-product__info-bottom-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--inner-content-spacing);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.landing-page-main-product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--content-spacing);
}
.landing-page-main-product__info-top-content {
  max-width: calc(100% - 2 * var(--base-margin));
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--inner-content-spacing);
}
@media (min-width: 1600px) {
  .landing-page-main-product__info-top-content {
    max-width: calc(1680px - 2 * var(--base-margin));
  }
}
@media (min-width: 1024px) {
  .landing-page-main-product__info-top-content {
    max-width: 100%;
  }
}
.landing-page-main-product__description-box {
  max-width: calc(100% - 2 * var(--base-margin));
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--inner-content-spacing);
}
@media (min-width: 1600px) {
  .landing-page-main-product__description-box {
    max-width: calc(1680px - 2 * var(--base-margin));
  }
}
@media (min-width: 1024px) {
  .landing-page-main-product__description-box {
    max-width: 100%;
  }
}

#readMore_btn,
#readLess_btn {
  cursor: pointer;
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

.text-with-button--product-section .text-with-button__container {
  padding: 16px 0;
  max-width: calc(100% - 2 * var(--base-margin));
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: transparent;
}
@media (min-width: 1600px) {
  .text-with-button--product-section .text-with-button__container {
    max-width: calc(1680px - 2 * var(--base-margin));
  }
}
@media (min-width: 1024px) {
  .text-with-button--product-section .text-with-button__container {
    max-width: 100%;
    padding: 16px 32px;
  }
}

.text-with-button--product-section .text-with-button__text-content {
  max-width: 50%;
}
@media (min-width: 1024px) {
  .text-with-button--product-section .text-with-button__text-content {
    max-width: 60%;
  }
}

.container, .container--page-width {
  max-width: calc(100% - 2 * var(--base-margin));
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media (min-width: 1600px) {
  .container, .container--page-width {
    max-width: calc(1680px - 2 * var(--base-margin));
  }
}

body {
  max-width: 1600px;
  margin: 0 auto;
}
