/*!****************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/landing-page-tolstoy-app.scss ***!
  \****************************************************************************************************************************************************************************************************************************************/
.custom_app_tolstoy {
  --section-tolstoy-bottom-spacing: 40px;
}
.custom_app_tolstoy .tolstoy-next-button, .custom_app_tolstoy .tolstoy-previous-button {
  background: #2F4775;
}
.custom_app_tolstoy .tolstoy-next-button svg path, .custom_app_tolstoy .tolstoy-previous-button svg path {
  fill: #fff;
}
