/*!*****************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/landing-page-testimonials.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************/
.text-image--testimonials-section .text-image__wrapper {
  background: #eaedf1;
  color: #2f4775;
  padding: 0 40px 40px;
}

.text-image--testimonials-section .text-image__heading-text {
  font-family: "proximanova-regular";
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  font-family: var(--secondary-alt-font-family);
  font-weight: 700;
}

.text-image--testimonials-section .text-image__subheading-text {
  font-family: "proximanova-regular";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

.text-image--testimonials-section .text-image__description {
  font-family: "proximanova-regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

.landing-page-testimonials__wrapper {
  padding: 60px 0;
}
.landing-page-testimonials__main-carousel {
  max-width: 1100px;
  margin: 0 auto;
}
