/*!******************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/landing-page-header-styles.scss ***!
  \******************************************************************************************************************************************************************************************************************************************/
:root {
  --base-margin: 20px;
  --section-spacing: 30px;
  --section-margin: 20px;
  --section-padding: 20px;
  --grid-column-gap: 20px;
  --grid-column-gap-large: 40px;
  --grid-row-gap: 32px;
  --grid-row-gap-large: 40px;
  --grid-product-badge-padding: 4px 12px;
  --setion-heading-padding: 30px;
}
@media (min-width: 768px) {
  :root {
    --base-margin: 20px;
    --section-spacing: 30px;
    --section-margin: 20px;
    --section-padding: 20px;
  }
}
@media (min-width: 1024px) {
  :root {
    --base-margin: 48px;
    --section-margin: 40px;
    --section-padding:40px;
    --section-spacing: 40px;
  }
}

.button {
  padding: 12px 20px;
}
.button--primary {
  background-color: #2F4775;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  cursor: pointer;
}
.button--primary:hover {
  opacity: 0.8;
}
.button--secondary {
  background-color: #fff;
  color: #2F4775;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  cursor: pointer;
}
.button--secondary:hover {
  background-color: #EAEDF1;
}

.needsclick {
  min-height: 0 !important;
}
.text-with-button__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px var(--gsc-container-padding);
  background: #2F4775;
}
.text-with-button__teaser, .text-with-button__text {
  color: #fff;
  font-family: "proximanova-regular";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  font-weight: 600;
  line-height: 1.4;
}
.text-with-button__text-content p {
  color: #fff;
  font-family: "proximanova-regular";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  font-weight: 600;
  line-height: 20px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  font-family: "proximanova-regular";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  font-family: var(--secondary-alt-font-family);
  font-weight: 700;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.landing-page-header__content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.landing-page-header__content--mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 768px) {
  .landing-page-header__content--mobile {
    display: none;
  }
}
.landing-page-header__content--desktop {
  display: none;
}
@media (min-width: 768px) {
  .landing-page-header__content--desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #E7E7E7;
    background: #2F4775;
  }
}
.landing-page-header__text-content p {
  color: #fff;
  font-family: "proximanova-regular";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  font-family: "proximanova-semibold";
}
@media (min-width: 768px) {
  .landing-page-header__text-content p {
    font-family: "proximanova-regular";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
  }
}
.landing-page-header__top-content {
  padding: 4px 8px;
  text-align: center;
  background: #2F4775;
}
.landing-page-header__bottom-content {
  padding: 8px 0 12px 0;
  border-bottom: 1px solid #E7E7E7;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.0509803922);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.0509803922);
}
.landing-page-header__bottom-content-wrapper {
  max-width: calc(100% - 2 * 20px);
  max-width: calc(100% - 2 * var(--base-margin));
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 1600px) {
  .landing-page-header__bottom-content-wrapper {
    max-width: calc(1680px - 2 * 20px);
    max-width: calc(1680px - 2 * var(--base-margin));
  }
}
@media (min-width: 768px) {
  .landing-page-header__left-content {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 16px var(--gsc-container-padding);
  }
}
@media (min-width: 1200px) {
  .landing-page-header__left-content {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
}
@media (min-width: 768px) {
  .landing-page-header__right-content {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
}
@media (min-width: 1200px) {
  .landing-page-header__right-content {
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
  }
}
.landing-page-header__logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.landing-page-header__content--mobile .text-with-button__container {
  padding: 0;
}
.landing-page-header__content--mobile .landing-page-header__right-content .button svg {
  stroke: #fff;
}
.landing-page-header__content--mobile .landing-page-header__right-content .button path {
  fill: #fff;
}

.sticky_header_landingpage {
  position: sticky;
  top: 0;
  z-index: 4;
}

.sticky_header_landingpage .landing-page-header__bottom-content {
  background: #fff;
}
@media (min-width: 768px) {
  .sticky_header_landingpage .landing-page-header__bottom-content {
    background: #2F4775;
  }
}
