.product--features--main {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    max-width: 100%;
    
}
 
.product--features--main .product--features--parent {
    width: 50%;
}

.product--features--main .product--features--heading {
    padding-bottom: 7.6rem;  
    padding-top: 120px;
    font-family: BrownStd-Bold;
}

.product--features--main .product--features--heading  {
    font-weight: 700;
    line-height: 52px;
}

/* .product--features--main .product--features--content .feature,.product--features--main .product--features--content .features {
    padding-bottom: 55px;
} */

.flex-wrap-info{
    display: flex;
}

.product--features--main .flex-wrap-info span,.product--features--main .features span {
    border: 1px solid #000;
    padding: 2.5px 0;
    display: inline-block;
    width: 42px;
    margin-right: 14px;
    text-align: center;
    border-radius: 50%;
    font-size: 24px;
}
.product--features--main .feature span:first-child{
    margin-right: 18px;
}

.product--features--main .product--features--content:not(:last-child) {
    margin-bottom: 0;
}

.product--features--main .product--features--content p {
    font-weight: 400;
}

.product--features--main .product--features--img {
    width: 50%;
    height: fit-content;
    position: relative;
}

.product--features--main .product--features--img img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: contain;
    display: block;
    margin-left: auto;
}

.sub-feature{
    padding-bottom: 50px;
    font-size: 18px !important;
    /* padding-left: 61px; */
    padding-bottom: 55px;
}

@media(min-width:767px){
    .product--features--main .Mobile_img{
        display: none;
    }

  
}

@media(max-width:1024px){
    .product--features--main .product--features--heading  {
        font-size: 30px !important;
        line-height: 40px;
        padding-bottom: 5rem;
    }
    .product--features--main .product--features--content .sub-feature {
        padding-bottom: 35px;
    }
}
@media(max-width:768px) {
     .product--features--main {
        flex-direction: column-reverse;
    }
    .product--features--main .product--features--parent {
        width: 100%;
        background: #fff;
    }

    .product--features--main .product--features--img {
        width: 100%;
    }
    .product--features--main .product--features--heading {
        padding: 5rem 0 3.2rem 0;
    }
    .product--features--main .Desktop_img{
        display: none;
    }
    .product--features--main .Mobile_img{
        display: block;
    }

    .product--features--main .product--features--img img {
        width: 74%;
        /* object-fit:none; */
        display: block;
        margin-left: auto;
    }
   
}
@media(max-width:520px) {

    .product--features--main .product--features--heading  {
        font-size: 24px !important;
        line-height: 36px;
    }

    .product--features--main .product--features--content p {
        font-size: 18px !important;
    }

    .product--features--main .flex-wrap-info span {
        font-size: 18px;
    }
    .product--features--main .flex-wrap-info span, .product--features--main .features span{
        display: inline-block;
      width: 32px;
      padding: 2px 0;
    }
    .product--features--main .product--features--content .sub-feature {
        padding-bottom: 26px;
        font-size: 15px !important;
    }   
}

