/* Default - Product Page ( Single Variant )*/
.product-general-info-block .product-type {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}

/* Additional Product Details */
.product-additional-details .product-additional-details-child {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.product-additional-details .product-additional-details-child .product-additional-details-iandt {
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-left: calc(-1 * 1px);
    margin-bottom: calc(-1 * 1px);
    flex: 1 0 50%;
    padding: 30px;
}
.product-additional-details .product-additional-details-iandt img {        
    width: auto;
    margin-bottom: 15px;
}

.product-additional-details-child .product-additional-details-iandt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-additional-details-child .product-additional-details-iandt p {
    font-size: 14px;
    text-align: center;
    margin: auto 0;
}
.product--with-desktop-media-carousel .product__info-wrapper .product__info .product_quantity_button{
    display: flex;
    column-gap: 16px;    
}
.product--with-desktop-media-carousel .product__info-wrapper .product__info .product_quantity_button .product-quantity__wrap .product-quantity__quantity{
    width: 15rem;
}
.product--with-desktop-media-carousel .product__info-wrapper .product__info .product_quantity_button .product-quantity__wrap .quantity{
    column-gap: 3px;
}
.product_quantity_button .product-quantity__wrap .quantity .quantity__btn .quantity__btn-icon{
    width: 40px;
    padding: 5px;
}
.product--with-desktop-media-carousel .product__info-wrapper .product__info .product_quantity_button .product-quantity__wrap .quantity,
.product_quantity_button .product-quantity__wrap .quantity .quantity__btn,
.product_quantity_button .product-quantity__wrap .quantity .quantity__btn svg{
    height: 100%;
}
.product_quantity_button .product-quantity__wrap .quantity .quantity__input{
    height: 100%;
    border: 1px solid #000000;
}
.product_quantity_button .product-quantity__wrap .quantity .quantity__btn{
    border: 1px solid #000000;
}
.product_quantity_button .product-quantity__wrap .quantity svg{

}
.product_main_dynamic_btn .product-form__btns .product-form__btn-wrapper .product-form__btn{
    font-size: 20px;
    text-transform: uppercase;
    padding: 0;
}
.product_quantity_button .product_main_dynamic_btn{
    width: 100%;
}
.product-content-tab .product-content-tab__content .rte.product-content-tab__text{
    font-size: 16px;
}
/*upsell product css here*/
.upsell_product_main_wrap .shop__grid-item .product-card{
    flex-flow: row;
    column-gap: 20px;
}
.upsell_product_main_wrap .shop__grid-item .product-card .product-card__inner{
    flex: 0 0 25%;
    padding-bottom: 25%;
}

/* Product Tabs and Accordion */
@media screen and (min-width: 768px) {
    .product--with-desktop-media-carousel .product__info-wrapper .product__info .product-general-info-block h1{
        font-size: var(--gsc-heading-5-desktop-font-size);
        line-height: var(--gsc-heading-5-desktop-line-height);
        text-transform: uppercase;
    }
    .product--with-desktop-media-carousel .product__info-wrapper .product__info{
        width: auto;
    }
    .product--with-desktop-media-carousel .product-desktop-media{
        width: 50%;
    }
    .product-details__tab-names{
        padding: 0;
        margin: 0 0 4.8rem;
        border-bottom: 1px solid #D9D9D9;
    }
    .product-details .product-accordion-dropdown {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .imagesOnly_parent{
        justify-content: space-between;
        justify-content: flex-start;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
        white-space: nowrap;
        column-gap: 40px;
    }
    .imagesOnly_parent img {
        flex: 0 0 auto;
        white-space: normal;
        scroll-snap-align: start;
    }
    .imagesOnly_parent::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }
    .product-details .product-page-tabs {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .product-additional-details .product-additional-details-child {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 10px;
    }
    .product-additional-details .product-additional-details-child .product-additional-details-iandt{
        border: 0;
        margin: 0;
        padding: 0;
    }
    .product--with-desktop-media-carousel .product__info-wrapper .product__info .product-general-info-block h1{
        font-size: var(--gsc-heading-2-desktop-font-size);
        line-height: var(--gsc-heading-2-desktop-line-height);        
    }
    .product--with-desktop-media-carousel .product__info-wrapper .product__info{
        width: inherit;
    }
    .product--with-desktop-media-carousel .product-desktop-media{
        width: inherit;
    }
}