.pb_container .pb_main_content h5,
.pb_container .pb_main_content p {
    text-align: center;
}

.pb_container .pb_text_content_desktop {
    display: grid;
    grid-template-columns: 40% 20% 40%;
}

/* Product Details - CSS */
.pb_container .pb_text_content_desktop .pb_center img {
    width: 100%;
}