.text-with-image__container {
    flex-flow: column;
    gap: 3.2rem 6.4rem;
    display: flex;
    position: relative;
    padding: 48px;
}
.text-with-image__content.side-textpart h5{
    font-family: var(--secondary-font-family) !important;
}
.side-textpart h5, .image-subtext-wrap .heading-for-image{
    font-weight: 700;
}
.image-subtext-wrap .subheading-for-image{
    font-family: 'proximanova-regular';
}
.image-subtext-wrap .heading-for-image{    
    font-family: var(--secondary-font-family) !important;
    letter-spacing: 0.6px;
}
.side-textpart .text--with-image__btn{
    font-weight: 700;
    font-size: 18px;
    /* text-transform: uppercase; */
    font-family: var(--secondary-font-family) !important;
}
.side-imagespart{
    display: flex;
    flex-wrap: wrap;
    row-gap: 2em;
    width: 100%;
    align-items: baseline;
    text-align: center;
    justify-content: center;
}
.text-with-image-container .text-with-image__content{
    flex-flow: column;
    justify-content: center;
    display: flex;
    overflow: hidden;
}
.image-subtext-wrap .image-wrapper__info{
    margin-bottom: 6px;
}
.text-with-image__icon{
    width: 4.4rem;
    height: 4.4rem;
    margin-bottom: 10px;
}
@media(min-width:768px){
    .text-with-image-container .text-with-image__content{
        flex: 0 0 27.2rem;
        align-self: center;
    }
    .text-with-image__container{
        flex-flow: row;
    }
    .text-with-image__container--inverse{
        flex-flow: row-reverse;
    }
    .side-imagespart{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
        column-gap: 2em;
    }
    .text--with-image__btn{
        width: auto;
        margin: inherit;
        margin-top: 30px;
        align-self: start;
    }
}
@media(min-width:1200px){
    .side-imagespart .image-subtext-wrap .image-wrapper__info img{
        width: 140px;
        height: 140px;
    }
    .text-with-image__content h5{
        margin-bottom: 24px;
    }
    .text-with-image-container .text-with-image__content{
        flex: 0 0 30%;
        align-self: center;
    }
    .side-imagespart{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 0;
    }
}
@media(max-width:1024px){
    .side-textpart h5{
        font-size: 35px;
    }
    .image-subtext-wrap img{
        width: 100px;
        height: 100px;
    }
}

@media(max-width:510px){
    .text-with-image__icon{
        margin: 0 auto 20px;
    }
    .side-textpart .text--with-image__btn{
        align-self: center;
        font-size: 14px;
        margin-top: 30px;
        padding: 12px 40px;
    }    
    .image-subtext-wrap{
        flex-basis: 50%;
    }
    .side-textpart{
        text-align: center;
    }
    .side-textpart h5 {
        font-size: 32px;
        line-height: 1.4;
        margin-bottom: 20px;
    }
    .subtext__text{
        font-size: 16px;
    }  
    .text-with-image__container{
        padding: 40px 30px;
    }  
    
}

@media(min-width:376px) and (max-width:425px){
    .image-subtext-wrap .subheading-for-image{
        font-family: 'proximanova-regular';
        width: calc(100% - 5px);
    }
}

@media(max-width:364px){
    .text-wrapper__info .heading-for-image{
        font-size: 16px !important;
    }
}

.text-with-image-container .text-with-image__container .text-with-image__content .rte.subtext__text{
    font-family: 'proximanova-regular';
    line-height: 1.4;
}