/*!***************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./scss/sections/tolstoy-sec.scss ***!
  \***************************************************************************************************************************************************************************************************************************/
.app-heading {
  font-family: "proximanova-regular";
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  font-family: var(--secondary-font-family);
  padding-top: 32px;
  padding-bottom: 32px;
  width: 75%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .app-heading {
    width: 100%;
    font-family: "proximanova-regular";
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    font-family: var(--secondary-font-family);
  }
}
