:root {
    --base-margin: 20px;
    --section-spacing: 30px;
    --section-margin: 20px;
    --section-padding: 20px;
    --grid-column-gap: 20px;
    --grid-column-gap-large: 40px;
    --grid-row-gap: 32px;
    --grid-row-gap-large: 40px;
    --setion-heading-padding: 30px;

    @media(min-width: 768px) {
        --base-margin: 20px;
        --section-spacing: 30px;
        --section-margin: 20px;
        --section-padding: 20px;
    }

    @media(min-width: 1024px) {
        --base-margin: 48px;
        --section-margin: 40px;
        --section-padding:40px;
        --section-spacing: 40px;
    }
}