.section-header{
    &__wrapper{
        padding: 10px 0;
        margin: 10px 0;
    }
    &__content{
        display: grid;
    }
    .section__header--center-alignment {
        text-align: center;
    }
    &__title{

    }
    &__text{

    }
} 
